body {
	padding-top: 5rem;
	background-color: #f1f2f4;
}

.bordered {
	border: 0.1rem #e7e7e7 solid;
	border-color: #888a85;
	margin: 0.2rem;
	padding: 0.2rem;
	border-radius: 0.5rem;
}

.bg-admin-dark {
	background-color: #454d54;
	color: white;
}

.bg-admin-light {
	background-color: white;
	color: #504747;
}

.focusable {
	outline: #66afe9 thick;
}

.strong {
	font-weight: bold;
}

.group {
	padding: 10px 5px 10px 5px;
}

.vert-space {
	margin-top: 5px;
	margin-bottom: 15px;
}

.left-space {
	margin-left: 5px;
	margin-right: 5px;
}

.sec-header-1, .sec-header-2 {
	font-weight: bold;
	color: #296395;
}

.sec-header-1 {
	font-size: 22px;
	margin: 10px 5px 10px 5px;
}

.sec-header-2 {
	font-size: 16px;
	margin: 3px 5px 10px 5px;
}

.footer {
	background-color: #e3e3e3e3;
}

.btn-container {
    margin: 0;
    padding: 0 5px 0 5px;
}

.btn-wrapper-normal {
    padding: 10px 0 10px 0;
}


.btn-wrapper-small {
    padding: 6px 0 6px 0;
}


