<div class="container-fluid">
	<h2>Auswertungsgruppe {{auswertungsgruppe?.rootgruppe.name}}</h2>
	<div class="card">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Kürzel:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{auswertungsgruppe?.rootgruppe.kuerzel}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">geändert durch:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{auswertungsgruppe?.rootgruppe.geaendertDurch}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anz. Lösungszettel:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{auswertungsgruppe?.anzahlLoesungszettel}}</div>
			</div>
			<div class="row">

				<button *ngIf="!auswertungsgruppe?.auswertungsupload && !auswertenDisabled && !showDownloadLink" type="button" (click)="erstelleAuswertung()" class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
					<span class="fa fa-chart-bar fa-1x" aria-hidden="true"></span> Auswertung
				</button>
				<button *ngIf="!auswertungsgruppe?.auswertungsupload && showDownloadLink" type="button" (click)="downloadResult()" class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
					<span class="fa fa-download fa-1x" aria-hidden="true"></span> Auswertung
				</button>
				<button type="button" (click)="cancel()" class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
					<span class="fa fa-arrow-circle-left fa-1x" aria-hidden="true"></span> zur&uuml;ck
				</button>
			</div>
		</div>
	</div>
</div>



