<div class="card center-block col-sm-11 col-md-11">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">&Uuml;bersicht</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3" *ngIf="anmeldenState.visible">
			<mkv-anmelden></mkv-anmelden>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">
						Teilnahmen <span class="badge">{{anzahlTeilnahmen()}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-descr">{{teilnahmenState.text}}</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoTeilnahmen()">zu den Teilnahmen</button>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="!downloadState.disabled" class="col-xs-12 col-sm-12 col-md-4">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Unterlagen {{globalSettings.wettbewerbsjahr}}</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-descr">{{downloadState.text}}</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button [disabled]="downloadState.disabled" type="button" class="btn btn-primary btn-block"
							(click)="gotoDownload()">Download</button>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="!auswertungState.disabled" class="col-xs-12 col-sm-12 col-md-4">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Auswertung / Urkunden</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-descr">{{auswertungState.text}}</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button [disabled]="auswertungState.disabled" type="button" class="btn btn-primary btn-block"
							(click)="gotoAuswertung()">auswerten</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div *ngIf="!uploadExcelState.disabled" class="col-xs-12 col-sm-12 col-md-4">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Dateien hochladen</div>
				</div>
				<div *ngIf="!auswertungState.disabled && uploadExcelState.disabled" class="row">
					<div class="col-sm-12 col-md-12 sec-descr">{{uploadExcelState.text}}</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button [disabled]="uploadExcelState.disabled" type="button" class="btn btn-primary btn-block"
							(click)="gotoUpload()">Dateien hochladen</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Profil &auml;ndern</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-descr">{{profilState.text}}</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoProfil()">Profil</button>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="showBtnAdVAbschliessen()" class="col-xs-12 col-sm-12 col-md-4">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Auftragsverarbeitung</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-descr">Vereinbarung zur Auftragsverarbeitung nach Art.28 DSGVO
						abschlie&szlig;en</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-warning btn-block" (click)="gotoAuftragsvereinbarung()">abschlie&szlig;en</button>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="showBtnAdVDownload()" class="col-xs-12 col-sm-12 col-md-4">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Auftragsverarbeitung</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-descr">eine Auftragsvereinbarung (DSGVO Art.28) ist vorhanden</div>
				</div>
				<mkv-adv-download *ngIf="showBtnAdVDownload()" [schule]="schule"></mkv-adv-download>
			</div>
		</div>
	</div>
</div>