
<div class="row">
	<div class="col-sm-1 col-md-1 col-lg-1 boxedtext">
		<strong>{{antwort.nummer}}</strong>
	</div>
	<div class="col-sm-8 col-md-5 col-lg-3  itembox">
		<button
			type="submit"
			id="1"
			name="1-1"
			tabindex="1"
			class="toggle-off itembox"
			(click)="antwort.clicked($event)">X</button>
		<button
			type="submit"
			id="2"
			name="1-2"
			tabindex="2"
			class="toggle-off itembox"
			(click)="antwort.clicked($event)">X</button>
		<button
			type="submit"
			id="3"
			name="1-3"
			tabindex="3"
			class="toggle-off itembox"
			(click)="antwort.clicked($event)">X</button>
		<button
			type="submit"
			id="4"
			name="1-4"
			tabindex="4"
			class="toggle-off itembox"
			(click)="antwort.clicked($event)">X</button>
		<button
			type="submit"
			id="5"
			name="1-5"
			tabindex="5"
			class="toggle-off itembox"
			(click)="antwort.clicked($event)">X</button>
	</div>
	<div class="col-sm-3 col-md-1 col-lg-1 itembox">
		<button
			type="submit"
			id="N"
			name="1-N"
			tabindex="6"
			class="toggle-off itembox"
			(click)="antwort.clicked($event)">X</button>
	</div>
</div>