<div class="center-block col-sm-12 col-md-12">
	<form name="login-form">
		<div class="group">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<label for="username">Benutzer*</label> <input
						type="text"
						class="form-control"
						id="username"
						name="username"
						tabindex="1"
						autocomplete="off"
						required />
				</div>
			</div>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<label for="username">Passwort*</label> <input
						type="password"
						class="form-control"
						id="pwd"
						name="pwd"
						tabindex="2"
						autocomplete="off"
						required />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 vert-space">
				<button
					type="submit"
					name="btn-login-submit"
					tabindex="3"
					class="button btn btn-primary btn-block">anmelden</button>
			</div>
			<div class="col-sm-12 col-md-6 vert-space">
				<button
					type="submit"
					name="btn-login-cancel"
					tabindex="4"
					class="button btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
		<div>
			<label for="kleber">leer lassen</label> <input
				type="text"
				class="form-control"
				id="kleber"
				name="kleber"
				tabindex="0"
				placeholder="hier nichts eintragen"
				autocomplete="off" />
		</div>
	</form>
</div>