.splash {
	opacity: 0;
	transition: opacity .8s ease-in-out;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #eeeeec;
	z-index: -1;
}

h1.splash, h2.spash {
	color: #204a87;
}

.footer {
	background-color: #e7e7e7;
	border: 1rem #e7e7e7 solid;
	padding: 10rem 25rem 10rem 25rem;
}

.footer-text, btn-link.footer {
	color: #000000;
}

a.footer-text, a.footer-text:active, a.footer-text:visited, btn-link.footer
	{
	color: #d3d7cf;
	text-decoration: none;
}

a.footer-text:hover, btn-link.footer {
	color: white;
	text-decoration: underline;
}
