<admin-navbar></admin-navbar>
<div class="container-fluid">
	<p *ngIf="showCsrf">CSRF: {{csrfToken}}</p>
	<admin-messages></admin-messages>
	<router-outlet></router-outlet>
</div>

<footer>
	<div class="row">
		<div class="col-md-4 text-md-left">&copy; Heike Winkelvo&szlig;</div>
		<div class="col-md-4 text-xs-center" *ngIf="showEnv">{{envName}}, API: {{api}}</div>
		<div class="col-md-4 text-md-right">Version {{version}}</div>
	</div>
</footer>