<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-9 sec-header-1">Einloggen</div>
	</div>
	<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
		<div class="group">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<label for="usernameInput">Benutzername*:</label>
				</div>
				<div class="col-sm-12 col-md-12">
					<input [class.error]="formSubmitAttempt && username.touched && !username.valid" class="form-control" type="text"
						id="usernameInput" placeholder="Benutzername" formControlName="username">
				</div>
			</div>
			<admin-show-error path="username" text="Benutzername"></admin-show-error>

		</div>
		<div class="group">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<label for="pwdInput">Passwort*:</label>
				</div>
				<div class="col-sm-12 col-md-12">
					<input [class.error]="formSubmitAttempt && password.touched && !password.valid" class="form-control"
						type="password" id="pwdInput" placeholder="Passwort" formControlName="password">
				</div>
			</div>
			<admin-show-error path="password" text="Passwort"></admin-show-error>
		</div>
		<div class="group kleber">
			<label for="kleberInput">Kleber:</label> <input type="text" id="kleberInput" placeholder="leer lassen!!!!"
				formControlName="kleber">
		</div>
		<div class="row vert-space">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-block">absenden</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>
