
<div class="card" [ngStyle]="getMyStyles()">
	<div class="row">
		<div class="col-xs-12 col-sm-2 col-md-2 card-header">{{theGruppe.name}} <span class="badge">{{theGruppe.anzahlKinder}}</span> </div>
		<div *ngIf="showWarnung" class="col-xs-12 col-sm-10 col-md-10 text-error">{{warnung}}</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-2 col-md-2 card-title">Klassenstufe:</div>
		<div class="col-xs-12 col-sm-10 col-md-10">{{theGruppe.klassenstufe.label}}</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 vert-space">
			<button type="button" (click)="gotoKinder()" class="btn btn-default btn-block">
				<span class="fa fa fa-users fa-1x" aria-hidden="true"></span> Kinder
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 vert-space">
			<button type="button" (click)="edit()" class="btn btn-default btn-block">
				<span class="fa fa-pencil fa-1x" aria-hidden="true"></span> Name &auml;ndern
			</button>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 vert-space">
			<button *ngIf="!hatTeilnehmer()" type="button" (click)="delete()" class="btn btn-default btn-block">
				<span class="fa fa-trash-o fa-1x" aria-hidden="true"></span> l&ouml;schen
			</button>
		</div>
	</div>
</div>