<div class="card center-block col-sm-10 col-md-10">
	<div *ngIf="!processing" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Schul&uuml;bersicht</div>
	</div>
	<div *ngIf="processing" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Die Statistik wird erstellt...</div>
	</div>
	<div *ngIf="auswertungState.disabled" class="card card-warning">
		<mkv-urkundenwarnung></mkv-urkundenwarnung>
	</div>

	<div class="col-md-12" *ngIf="anmeldenState.visible">
		<mkv-anmelden></mkv-anmelden>
	</div>

	<div *ngIf="!anmeldenState.visible" class="group">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-2">
				<label>Schulname:</label>
			</div>
			<div class="col-xs-9 col-sm-10 col-md-9">{{rootgruppe?.name}}</div>
			<div class="col-xs-3 col-sm-2 col-md-1">
				<button type="button" (click)="toggleSchulnameInfo()" data-toggle="tooltip" class="btn"
					[ngClass]="{'btn-default' : infoSchulnameExpanded, 'btn-primary': !infoSchulnameExpanded}"
					title="{{tooltipSchulname}}">{{infoSchulnameExpanded ? '&times;' : '&#43;'}}</button>
			</div>
		</div>
		<div *ngIf="infoSchulnameExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoSchulnameExpanded">
					<div class="alert alert-info">{{tooltipSchulname}}</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="!anmeldenState.visible && !auswertungState.disabled" class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 vert-space">
			<button type="button" (click)="edit()" class="btn btn-primary btn-block">
				<span class="fa fa-pencil fa-1x" aria-hidden="true"></span> Name &auml;ndern
			</button>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 vert-space">
			<a routerLink="edit/new" class="btn btn-primary btn-block"><span class="fa fa-plus-square-o fa-1x" aria-hidden="true"></span>
				neue Klasse</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 vert-space">
			<button [disabled]="!kannDrucken" type="button" class="pull-right btn btn-primary btn-block" (click)="gotoPrint()">
				<span class="fa fa-print fa-1x" aria-hidden="true"></span> Urkunden
			</button>
		</div>
		<div *ngIf="kannDrucken && !showDownloadLink" class="col-xs-12 col-sm-12 col-md-3 vert-space">
			<button type="button" class="pull-right btn btn-primary btn-block" (click)="erstelleSchulstatistik()">
				<span class="fa fa-calculator fa-1x" aria-hidden="true"></span> Statistik erstellen
			</button>
		</div>
		<div *ngIf="kannDrucken && showDownloadLink" class="col-xs-12 col-sm-12 col-md-3 vert-space">
			<button type="button" class="pull-right btn btn-success btn-block" (click)="downloadResult()">
				<span class="fa fa-download fa-1x" aria-hidden="true"></span> Statistik speichern
			</button>
		</div>
	</div>

	<div *ngIf="showWarnungText" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 vert-space text-error">{{warnungText}}</div>
	</div>


	<div *ngIf="!anmeldenState.visible && !auswertungState.disabled">
		<mkv-auswertungsgruppeoverview *ngFor="let gruppe of rootgruppe?.auswertungsgruppen" [theGruppe]="gruppe"></mkv-auswertungsgruppeoverview>
	</div>

</div>