
<div class="card col-sx-12 col-sm-12 col-md-6" [style.background-color]="calculateBackgroundColor()">
	<div class="row center-block">
		<div class="col-sx-12 col-sm-12 col-md-4">
			<strong>{{zeile.nummer}}</strong>
		</div>
	</div>
	<div *ngIf="!valid" class="row center-block">
		<div class="col-sx-12 col-sm-12 col-md-4">
			<div class="text-error">Bitte h&ouml;chstens ein Kreuz.</div>
		</div>
	</div>
	<div class="row center-block">
		<div *ngFor="let zelle of zeile.zellen" class="col-sx-1 col-sm-1 col-md-2 col-lg-2">
			<button type="submit" class="toggle-off itembox" [style.color]="zelle.color" (click)="zelle.clicked($event)">X</button>
		</div>
	</div>
</div>