<div class="card center-block col-sm-12 col-md-12">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 sec-header-2">{{formTitle}}</div>
		<div *ngIf="teilnehmer.loesungszettelKuerzel" class="col-xs-12 col-sm-12 col-md-4">Punkte: {{teilnehmer.punkte}}
			K&auml;ngurusprung: {{teilnehmer.kaengurusprung}}</div>
	</div>
	<div *ngIf="!kannAntwortenEintragen()" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">Die Antworten k&ouml;nnen Sie erfassen, sobald der Wettbewerb
			begonnen hat.</div>
	</div>
	<br />
	<form novalidate [formGroup]="teilnehmerForm">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<label for="klassenstufe">Klassenstufe*:</label>
			</div>
			<div *ngIf="!klassenstufeFixed" class="col-sm-12 col-md-12">
				<label class="radio-inline"> <input type="radio" value="EINS" name="klassenstufe"
					formControlName="klassenstufe" [(ngModel)]="selectedKlassenstufeName" (ngModelChange)="onKlassenstufeSelected()">
					Klasse 1
				</label> <label class="radio-inline"> <input type="radio" value="ZWEI" name="klassenstufe"
					formControlName="klassenstufe" [(ngModel)]="selectedKlassenstufeName" (ngModelChange)="onKlassenstufeSelected()">
					Klasse 2
				</label> <label class="radio-inline"> <input type="radio" value="IKID" name="klassenstufe"
					formControlName="klassenstufe" [(ngModel)]="selectedKlassenstufeName" (ngModelChange)="onKlassenstufeSelected()">
					Inklusion
				</label>
			</div>

			<div *ngIf="klassenstufeFixed" class="col-sm-12 col-md-12">
				<input class="form-control" [disabled]="true" type="text" [value]="selectedKlassenstufe?.label">
			</div>
		</div>
		<div *ngIf="auswertungsgruppe" class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<label>Klassenname:</label>
			</div>
			<div class="col-sm-12 col-md-12">
				<input class="form-control" [disabled]="true" type="text" [value]="auswertungsgruppe.name">
			</div>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="vornameInput">Vorname*:</label>
				</div>
			</div>
			<div class="row" [class.error]="vorname.touched && !vorname.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="vornameInput" placeholder="Vorname" formControlName="vorname">
				</div>
			</div>
			<mkv-show-error path="vorname" text="Vorname"></mkv-show-error>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="nachnameInput">Nachname:</label>
				</div>
			</div>
			<div class="row" [class.error]="nachname.touched && !nachname.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="nachnameInput" placeholder="Nachname" formControlName="nachname">
				</div>
			</div>
			<mkv-show-error path="nachname" text="Nachname"></mkv-show-error>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="zusatzInput">Zusatz:</label>
				</div>
			</div>
			<div class="row" [class.error]="zusatz.touched && !zusatz.valid">
				<div class="col-xs-9 col-sm-10 col-md-11">
					<input class="form-control" type="text" id="zusatzInput" placeholder="Zusatz" formControlName="zusatz">
				</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="toggleZusatzInfo()" data-toggle="tooltip" class="btn"
						[ngClass]="{'btn-default' : infoZusatzExpanded, 'btn-primary': !infoZusatzExpanded}" title="{{tooltipZusatz}}">{{infoZusatzExpanded
						? '&times;' : '&#43;'}}</button>
				</div>
			</div>
			<div *ngIf="infoZusatzExpanded">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoZusatzExpanded">
						<div class="alert alert-info">{{tooltipZusatz}}</div>
					</div>
				</div>
			</div>
			<mkv-show-error path="zusatz" text="Zusatz"></mkv-show-error>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<label for="sprache">Wettbewerbssprache*:</label>
			</div>
			<div class="col-sm-12 col-md-12">
				<label class="radio-inline"> <input type="radio" value="de" name="sprache" formControlName="sprache"
					[(ngModel)]="selectedSpracheKuerzel" (ngModelChange)="onSpracheSelected()"> deutsch
				</label> <label class="radio-inline"> <input type="radio" value="en" name="sprache" formControlName="sprache"
					[(ngModel)]="selectedSpracheKuerzel" (ngModelChange)="onSpracheSelected()"> englisch
				</label>
			</div>
		</div>
		<div *ngIf="kannAntwortenEintragen()">
			<div *ngIf="!isEingabemodusSelected()" class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
					<button class="btn btn-default" (click)="selectDefaultantworten()" title="{{tooltipDefaulteingabe}}">{{textBtnDefaulteingabe}}</button>
				</div>
				<!--
				<div class="col-xs-12 col-sm-12 col-md-5 vert-space">
					<button class="btn btn-default" (click)="selectSchnelleingabe()" title="{{tooltipSchnelleingabe}}">{{textBtnSchnelleingabe}}</button>
				</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="toggleInfoEingabemodus()" data-toggle="tooltip" class="btn"
						[ngClass]="{'btn-default' : infoEingabemodusExpanded, 'btn-primary': !infoEingabemodusExpanded}"
						title="Bitte w&auml;hlen Sie einen Eingabemodus.">{{infoEingabemodusExpanded ? '&times;' : '&#43;'}}</button>
				</div>
				 -->
			</div>
			<!--
			<div *ngIf="infoEingabemodusExpanded" class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<img src="https://mathe-jung-alt.de/minikaenguru/sourcen/standardeingabe.png" alt="Standardeingabe" height="100">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<img src="https://mathe-jung-alt.de/minikaenguru/sourcen/schnelleingabe.png" alt="Schnelleingabeeingabe"
						height="100">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					{{tooltipDefaulteingabe}}
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					{{tooltipSchnelleingabe}}
				</div>
			</div>
			 -->
			<div *ngIf="antwortbereichExpanded && matrixEingabeEnabled">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 sec-descr">
						Tragen Sie hier bitte die Antworten ein (links oben A-1 bis rechts unten C-4 oder C-5): <strong>a oder 1</strong>,
						falls K&auml;stchen 1 angekreuzt ist, <strong>b oder 2</strong>, falls K&auml;stchen 2 angekreuzt ist, <strong>c
							oder 3</strong>, falls K&auml;stchen 3 angekreuzt ist, <strong>d oder 4</strong>, falls K&auml;stchen 4 angekreuzt ist, <strong>e
							oder 5</strong>, falls K&auml;stchen 5 angekreuzt ist, <strong>n, - (Minus) oder 0</strong>, falls kein K&auml;stchen
						angekreuzt ist.
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6">
						<table>
							<mkv-matrixantwortzeile *ngFor="let zeile of matrixantwortzeilen" [zeile]="zeile"></mkv-matrixantwortzeile>
						</table>
					</div>
					<div *ngIf="isShowPiktogrammKlasse1()" class="col-xs-12 col-sm-12 col-md-6">
						<img alt="Schema Antwortbuchstaben"
							src="https://mathe-jung-alt.de/minikaenguru/sourcen/antwortbuchstaben_klasse1.png" width="45%">
					</div>
					<div *ngIf="isShowPiktogrammKlasse2()" class="col-xs-12 col-sm-12 col-md-6">
						<img alt="Schema Antwortbuchstaben"
							src="https://mathe-jung-alt.de/minikaenguru/sourcen/antwortbuchstaben_klasse2.png" width="45%">
					</div>

				</div>
				<!--
				<div class="row" *ngIf="!antwortenValid()">
					<div class="col-xs-12 col-sm-12 col-md-12 errorMsg">Bitte korrigieren Sie Ihre Eingaben in der Tabelle.
						Erlaubt sind die Buchstaben a bis e oder A bis E, Minus und die Ziffern 0 bis 5</div>
				</div>
				 -->
			</div>
			<div *ngIf="antwortbereichExpanded && checkboxEingabeEnabled">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 sec-descr">Klicken Sie bitte zu jeder Aufgabe das K&auml;stchen an,
						das auf dem L&ouml;sungszettel in der Tabelle angekreutzt ist. Ist kein K&auml;stchen angekreuzt, lassen Sie die
						Zeile leer.</div>
				</div>
				<div class="row left-space">
					<mkv-checkboxantwortzeile *ngFor="let zeile of checkboxAntwortzeilen" [zeile]="zeile"></mkv-checkboxantwortzeile>
				</div>
			</div>
		</div>
		<p *ngIf="showAntwortcode">Antwortcode: {{antwortcode}}</p>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
				<button [disabled]="isSubmitDisabled()" type="submit" class="btn btn-primary btn-block"
					(click)="onSubmit(teilnehmerForm.value)">speichern</button>
			</div>
			<div *ngIf="teilnehmer.loesungszettelKuerzel" class="col-xs-12 col-sm-12 col-md-4 vert-space">
				<button class="btn btn-primary btn-block" (click)="antwortenLoeschen()" title="{{tooltipAntwortenLoeschen}}">
					<span class="fa fa-trash-o fa-1x" aria-hidden="true"></span> {{textBtnAntwortenLoeschen}}
				</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
				<button (click)="cancel()" type="button" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
	<mkv-dialog [(visible)]="showDialog">
	<h4>Hat {{nameKindSicherheitsabfrage}} wirklich einen leeren Antwortzettel abgegeben?</h4>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 vert-space">
			<button (click)="leererAntwortzettelConfirmed()" class="btn btn-default btn-block">ja</button>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 vert-space pull-right">
			<button (click)="leererAntwortzettelDenied()" class="btn btn-default btn-block">nein</button>
		</div>
	</div>
	</mkv-dialog>
</div>
