<div class="card center-block col-sm-12 col-md-12">
	<form novalidate [formGroup]="klasseForm">

		<div *ngIf="!istRootgruppe" class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<label for="klassenstufe">Klassenstufe*:</label>
			</div>
			<div *ngIf="!klassenstufeFixed" class="col-sm-12 col-md-12">
				<label class="radio-inline"> <input type="radio" value="EINS" name="klassenstufe"
					formControlName="klassenstufe" [(ngModel)]="selectedKlassenstufeName" (ngModelChange)="onKlassenstufeSelected()">
					Klasse 1
				</label> <label class="radio-inline"> <input type="radio" value="ZWEI" name="klassenstufe"
					formControlName="klassenstufe" [(ngModel)]="selectedKlassenstufeName" (ngModelChange)="onKlassenstufeSelected()">
					Klasse 2
				</label> <label class="radio-inline"> <input type="radio" value="IKID" name="klassenstufe"
					formControlName="klassenstufe" [(ngModel)]="selectedKlassenstufeName" (ngModelChange)="onKlassenstufeSelected()">
					Inklusion</label>
			</div>

			<div *ngIf="klassenstufeFixed" class="col-sm-12 col-md-12">
				<input class="form-control" [disabled]="true" type="text" [value]="selectedKlassenstufe.name">
			</div>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-2">
					<label for="nameInput">{{nameLabel}}:</label>
				</div>
			</div>
			<div class="row" [class.error]="name.touched && !name.valid">
				<div class="col-xs-9 col-sm-10 col-md-9">
					<input class="form-control" type="text" id="nameInput" (keyup)="onNameChanged($event.target.value)" placeholder="{{namePlaceholder}}"
						formControlName="name">
				</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="toggleNameInfo()" data-toggle="tooltip" class="btn"
						[ngClass]="{'btn-default' : infoNameExpanded, 'btn-primary': !infoNameExpanded}"
						title="{{tooltipName}}">{{infoNameExpanded ? '&times;' : '&#43;'}}</button>
				</div>
			</div>
			<div *ngIf="infoNameExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoNameExpanded">
					<div class="alert alert-info">{{tooltipName}}</div>
				</div>
			</div>
		</div>
			<mkv-show-error path="name" text="{{namePlaceholder}}"></mkv-show-error>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
				<button [disabled]="isSubmitDisabled()" type="submit" class="btn btn-primary btn-block"
					(click)="onSubmit(klasseForm.value)">speichern</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
				<button (click)="cancel()" type="button" class="btn btn-primary btn-block">zur&uuml;ck</button>
			</div>

		</div>
	</form>
</div>