<div class="card center-block col-sm-11 col-md-11">
	<div *ngIf="!processing" class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">{{header}}</div>
	</div>

	<div *ngIf="showLehrerwarnung" class="card card-warning vert-space">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">Verwenden Sie diese Funktion bitte nur zur Korrektur einzelner
				Urkunden, da Sie sonst keine Platzierungen und Kängurusprunggewinner bekommen. <strong>Alle Urkunden mit Platzierungen</strong> können Sie über den Menüpunkt "Auwertung/Urkunden" drucken</div>
		</div>
	</div>

	<div *ngIf="processing" class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">{{processingText}}</div>
	</div>

	<br>

	<div *ngIf="!showDownloadLink">
		<div class="row" *ngIf="teilnehmerUrkundenauftrag !== undefined">
			<div *ngFor="let teilnehmer of teilnehmerUrkundenauftrag.teilnehmer">
				<div class="col-xs-12 col-sm-12 col-md-4">{{teilnehmer.vorname}} {{teilnehmer.nachname}} (
					{{teilnehmer.punkte}} Punkte)</div>
			</div>
		</div>

		<br>


		<form novalidate [formGroup]="urkundenForm">
			<div class="group">
				<div class="col-sm-12 col-md-12">
					<img *ngFor="let farbe of farben" [src]="farbe.imageData" class="img-thumbnail">
				</div>
			</div>
			<br>
			<div class="group">
				<div class="col-sm-12 col-md-12">
					<label *ngFor="let farbe of farben" class="radio-inline"><input type="radio" name="farbschema"
						formControlName="farbschema" value="{{farbe.name}}" [(ngModel)]="selectedFarbschemaName"
						(ngModelChange)="onFarbeSelected()">{{farbe.label}}</label>
				</div>
			</div>
			<div *ngIf="teilnehmerUrkundenauftrag.teilnehmer.length > 1" class="group">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="checkbox">
						<label> <input type="checkbox" formControlName="nurKaengurusprung">nur Urkunden Kängurusprung
						</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
					<button [disabled]="isSubmitDisabled()" type="submit" class="btn btn-primary btn-block"
						(click)="onSubmit(urkundenForm.value)">{{btnTextDrucken}}</button>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
					<button (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row" *ngIf="showDownloadLink">
		<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
			<button type="submit" (click)="downloadResult()" class="btn btn-success btn-block">
				<span class="fa fa-download fa-1x" aria-hidden="true"></span> Urkunden speichern
			</button>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
			<button (click)="cancel()" class="btn btn-primary btn-block">zur&uuml;ck zur Auswertung</button>
		</div>
	</div>
</div>