<div class="card center-block col-sm-11 col-md-11">
	<div *ngIf="!processing" class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Schulauswertung und Urkunden drucken</div>
	</div>
	<div *ngIf="processing" class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Die Schulauswertung und die Urkunden werden erstellt...</div>
	</div>

	<div *ngIf="!showDownloadLink">
		<div class="row" *ngIf="urkundenauftrag !== undefined">
			<div *ngFor="let klasse of klassen">
				<div class="col-xs-12 col-sm-12 col-md-4">{{klasse.name}} ( {{klasse.anzahlKinder}})</div>
			</div>
		</div>

		<br>

		<form novalidate [formGroup]="urkundenForm">
			<div class="group">
				<div class="col-sm-12 col-md-12">
					<img *ngFor="let farbe of farben" [src]="farbe.imageData" class="img-thumbnail">
				</div>
			</div>
			<br>
			<div class="group">
				<div class="col-sm-12 col-md-12">
					<label *ngFor="let farbe of farben" class="radio-inline"><input type="radio" name="farbschema"
						formControlName="farbschema" value="{{farbe.name}}" [(ngModel)]="selectedFarbschemaName"
						(ngModelChange)="onFarbeSelected()">{{farbe.label}}</label>
				</div>
			</div>
			<div *ngIf="showChkNurKaenguru" class="group">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="checkbox">
						<label> <input type="checkbox" formControlName="nurKaengurusprung">nur Urkunden Kängurusprung
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
					<button [disabled]="isSubmitDisabled()" type="submit" class="btn btn-primary btn-block"
						(click)="onSubmit(urkundenForm.value)">drucken</button>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
					<button (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row" *ngIf="showDownloadLink">
		<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
			<button type="submit" (click)="downloadResult()" class="btn btn-success btn-block">
				<span class="fa fa-download fa-1x" aria-hidden="true"></span> Urkunden speichern
			</button>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 vert-space">
			<button (click)="cancel()" class="btn btn-primary btn-block">zur&uuml;ck zur Auswertung</button>
		</div>
	</div>
</div>