
<div class="card" [ngStyle]="getMyStyles()">
	<div class="dialogParent" role="dialog">
		<div *ngIf="showDialog" class="dialog" role="document">
			<div class="dialogContent">
				<h4>Wollen Sie {{theTeilnehmer.vorname}} wirklich l&ouml;schen?</h4>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-4 vert-space">
						<button (click)="loeschenConfirmed()" class="btn btn-default btn-block">ja</button>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 vert-space pull-right">
						<button (click)="showDialog = !showDialog" class="btn btn-default btn-block">nein</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 card-header">{{theTeilnehmer.vorname}} {{theTeilnehmer.nachname}}
				{{theTeilnehmer.zusatz}}</div>
			<div *ngIf="hatLoesungszettel()" class="col-xs-12 col-sm-4 col-md-5">Punkte: {{theTeilnehmer.punkte}}</div>
			<div *ngIf="!hatLoesungszettel()" class="col-xs-12 col-sm-4 col-md-2">Punkte:</div>
			<div *ngIf="!hatLoesungszettel()" class="col-xs-12 col-sm-4 col-md-3 text-error">noch keine Antworten erfasst</div>
		</div>
		<div class="row">
			<!-- <div class="col-xs-12 col-sm-6 col-md-6 card-header">{{theTeilnehmer.klassenstufe.label}}</div> -->
			<div class="col-xs-12 col-sm-6 col-md-6">Wettbewerbssprache {{theTeilnehmer.sprache.label}}</div>
			<div *ngIf="hatLoesungszettel()" class="col-xs-12 col-sm-4 col-md-5">K&auml;ngurusprung:
				{{theTeilnehmer.kaengurusprung}}</div>
			<div *ngIf="!hatLoesungszettel()" class="col-xs-12 col-sm-4 col-md-5">K&auml;ngurusprung:</div>
		</div>
		<div *ngIf="showKlassenstufe" class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">{{theTeilnehmer.klassenstufe.label}}</div>
			<div class="row"></div>
		</div>
		<div class=" row">
			<div class="col-xs-12 col-sm-4 col-md-4 vert-space">
				<button type="button" (click)="edit()" class="btn btn-default btn-block">
					<span class="fa fa-pencil fa-1x" aria-hidden="true"></span> bearbeiten
				</button>
			</div>

			<div *ngIf="!showInfoUrkunde" class="col-xs-12 col-sm-4 col-md-4 vert-space">
				<button [disabled]="showDialog || !hatLoesungszettel()" type="button" (click)="openPrintDialog()"
					class="btn btn-default btn-block"><span class="fa fa-print fa-1x" aria-hidden="true"></span> Urkunde drucken
				</button>
			</div>

			<div *ngIf="showInfoUrkunde" class="col-xs-12 col-sm-4 col-md-4 vert-space">
				<button [title]="tooltipUrkunde" [disabled]="showDialog || !hatLoesungszettel()" type="button" (click)="openPrintDialog()"
					class="btn btn-default btn-block"> Urkunde korrigieren
				</button>
			</div>

			<div *ngIf="showInfoUrkunde" class="col-xs-3 col-sm-2 col-md-1">
				<button type="button" (click)="toggleInfoUrkunde()" data-toggle="tooltip" class="btn"
					[ngClass]="{'btn-default' : infoUrkundeExpanded, 'btn-primary': !infoUrkundeExpanded}"
					title="{{tooltipUrkunde}}">{{infoUrkundeExpanded ? '&times;' : '&#43;'}}</button>
			</div>
			<div *ngIf="!hatLoesungszettel()" class="col-xs-12 col-sm-3 col-md-3 vert-space embeddedDialogParent">
				<button type="button" [disabled]="showDialog" (click)="deleteTeilnehmer()" class="btn btn-default btn-block">
					<span class="fa fa-trash-o fa-1x" aria-hidden="true"></span> l&ouml;schen
				</button>
			</div>
		</div>
		<div *ngIf="showInfoUrkunde && infoUrkundeExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="alert alert-info">{{tooltipUrkunde}}</div>
				</div>
			</div>
		</div>

	</div>
</div>