
<div class="card center-block col-sm-10 col-md-10">
	<div class="row">
		<div class="col-sm-12 col-md-10 sec-header-1">{{title}}</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-10 sec-header-2">Anzahl Kinder: {{anzahlTeilnehmer}}</div>
	</div>
	<div *ngIf="auswertungState.disabled" class="card card-warning">
		<mkv-urkundenwarnung></mkv-urkundenwarnung>
	</div>

	<div class="col-md-12" *ngIf="anmeldenState.visible">
		<mkv-anmelden></mkv-anmelden>
	</div>

	<div *ngIf="!auswertungState.disabled && !anmeldenState.visible" class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
			<button type="button" class="btn btn-primary" (click)="gotoNeuesKind()">
				<span class="fa fa-plus-square-o fa-1x" aria-hidden="true"></span> neues Kind
			</button>
		</div>
		<div class="pull-right col-xs-12 col-sm-12 col-md-6 vert-space">
			<button [disabled]="!kannDrucken" type="button" class="btn btn-primary"
				(click)="gotoPrint()">
				<span class="fa fa-print fa-1x" aria-hidden="true"></span> Urkunden drucken
			</button>
		</div>
	</div>
	<div *ngIf="showWarnungText" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 vert-space text-error">{{warnungText}}</div>
	</div>

	<div *ngIf="!auswertungState.disabled && !anmeldenState.visible">
		<mkv-teilnehmeroverview *ngFor="let teilnehmer of alleTeilnehmer" [theTeilnehmer]="teilnehmer"></mkv-teilnehmeroverview>
	</div>
</div>
