body {
	background-color: gray;
}

.sec-header-1 {
	font-weight: bold;
	font-size: 22px;
	color: #296395;
}

.sec-header-2 {
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
	color: #296395;
}

.sec-descr {
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
	color: #337ab7;
}

.group {
	padding: 10px 5px 10px 5px;
}

.form-group {
	margin-top: 15px;
	margin-bottom: 30px;
}

.button {
	background: #204a87;
	border: 1px #555753 solid;
	color: white;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.itembox {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.boxedtext {
	margin-top: 18px;
}

.toggle-on, .toggle-off {
	background: white;
	border: 1px #555753 solid;
	text-align: center;
}

.toggle-off {
	color: white;
}

.toggle-on {
	color: #555753;
}

.vert-space {
	margin-top: 5px;
	margin-bottom: 5px;
}

.hor-space {
	margin-left: 5px;
	margin-right: 5px;
}