<div class="container-fluid">
	<h2>Dashboard</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Statistik</h4>
					<p class="card-text">Zahlen und so. Die interessanten Dinge eben</p>
					<button type="button" class="btn btn-primary btn-block" (click)="gotoStatistik()">starten</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Schulteilnahmen</h4>
					<p class="card-text">angemeldete Schulen im aktuellen Jahr</p>
					<button type="button" class="btn btn-primary btn-block" (click)="gotoAuswertungsgruppen()">starten</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Kataloge</h4>
					<p class="card-text">Länder, Orte, Schulen</p>
					<button type="button" class="btn btn-primary btn-block" (click)="gotoKataloge()">starten</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Benutzer</h4>
					<p class="card-text">Lehrerinnen, Lehrer, Eltern</p>
					<button type="button" class="btn btn-primary btn-block" (click)="gotoBenutzer()">starten</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Mail</h4>
					<p class="card-text">Newsletter verfassen und versenden</p>
					<button type="button" class="btn btn-default btn-block" (click)="gotoMail()">starten</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Uploads</h4>
					<p class="card-text">Hochgeladene Auswertungen</p>
					<button type="button" class="btn btn-primary btn-block" (click)="gotoUploads()">starten</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Kontext</h4>
					<p class="card-text">Konfigurationsparameter ansehen und später evtl. ändern</p>
					<button type="button" class="btn btn-default btn-block" (click)="gotoKontext()">starten</button>
				</div>
			</div>
		</div>
	</div>
</div>

