<div class="center-block col-sm-12 col-md-12">
	<h4>Antworten von {{kind}}, Klasse {{klasse}}</h4>
	<!-- ================================================================================ -->
	<antwzeile
		*ngFor="let z of zeilen"
		[zeile]="z"></antwzeile>
</div>