
<div class="boxed-group">
	<div class="row">
		<div class="col-sm-12 col-md-12 sec-header-1">Wettbewerb</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 sec-descr">{{anmelden.text}}</div>
	</div>
	<div class="row vert-space">
		<div class="col-sm-12 col-md-12">
			<button [disabled]="anmelden.disabled" type="button" class="btn btn-primary btn-block" (click)="submitAnmeldung()">anmelden
				f&uuml;r {{globalSettings.wettbewerbsjahr}}</button>
		</div>
	</div>
</div>