<div class="container-fluid">
	<div class="jumbotron bg-admin-dark">
		<h2>Minik&auml;nguru-Admin-App</h2>
		<p>Wettbewerbsjahr: {{wettbewerbsjahr}}</p>
	</div>
	<div class="card">
		<div class="card-block p-3">
			<p>Nix f&uuml;r unwissende zuf&auml;llige Besucher.</p>
		</div>
	</div>
</div>
