<div class="card center-block col-sm-11 col-md-10 vert-space">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 sec-header-1">Einloggen</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 ">
      <button type="button" (click)="gotoZugangsdaten()" class="btn btn-link btn-block">Zugangsdaten vergessen</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <button type="button" (click)="gotoOrderTempPwd()" class="btn btn-link btn-block">Passwort vergessen</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <a href="https://mathe-jung-alt.de/minikaenguru/sourcen/anleitung_passwort_vergessen.pdf" target="_blank"
        class="btn btn-link btn-block">Anleitung</a>
    </div>
  </div>
  <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="group">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <label for="emailInput">Email*:</label>
        </div>
      </div>
      <div class="row" [class.error]="formSubmitAttempt && username.touched && !username.valid">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <input class="form-control" type="text" id="emailInput" placeholder="Mailadresse" formControlName="username"
            mkvLowerCase>
        </div>
      </div>
      <mkv-show-error path="username" text="Email"></mkv-show-error>
    </div>

    <div class="group ">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <label for="pwdInput">Passwort*:</label>
        </div>
      </div>
      <div class="row" [class.error]="formSubmitAttempt && password.touched && !password.valid">
        <div class="col-xs-9 col-sm-10 col-md-11">
          <input class="form-control" type="password" id="pwdInput" placeholder="mindestens 8 Zeichen..."
            formControlName="password">
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1">
          <button type="button" (click)="togglePwdInfo()" data-toggle="tooltip" class="btn"
            [ngClass]="{'btn-default' : infoPasswordExpanded, 'btn-primary': !infoPasswordExpanded}"
            title="{{tooltipPasswort}}">{{infoPasswordExpanded ? '&times;' : '&#43;'}}</button>
        </div>
      </div>
    </div>
    <div *ngIf="infoPasswordExpanded">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoPasswordExpanded">
          <div class="alert alert-info">{{tooltipPasswort}}</div>
        </div>
      </div>
    </div>
    <mkv-show-error path="password" text="Passwort"></mkv-show-error>
    <div class="row kleber">
      <div class="col-sm-2 col-md-2">
        <label for="kleberInput">Kleber:</label>
      </div>
      <div class="col-sm-10 col-md-10">
        <input type="text" id="kleberInput" placeholder="leer lassen!!!!" formControlName="kleber">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-block">einloggen</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
      </div>
    </div>
  </form>
</div>
