<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12 col-md-9 sec-header-1">Benutzerverwaltung</div>
  </div>
  <form novalidate [formGroup]="benutzersucheForm" #formDirective="ngForm" (ngSubmit)="onSubmit(benutzersucheForm.value)">
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="idInput">ID:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="uuid.touched && !uuid.valid" class="form-control" type="text" id="idInput" placeholder="ID oder Teil davon"
            formControlName="uuid">
        </div>
      </div>
      <admin-show-error path="uuid" text="ID"></admin-show-error>
    </div>
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="schulnameInput">Email:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="email.touched && !email.valid" class="form-control" type="text" id="emailInput" placeholder="Email oder Teil davon"
            formControlName="email">
        </div>
      </div>
      <admin-show-error path="email" text="Email"></admin-show-error>
    </div>
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="ortnameInput">Name:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="nameInput" placeholder="Name oder Teil davon"
            formControlName="name">
        </div>
      </div>
      <admin-show-error path="ortname" text="Ort"></admin-show-error>
    </div>
    <!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
    <div *ngIf="!btnSubmitDisabled && formSubmitAttempt && benutzersucheForm.hasError('allNoneBlank')" class="alert alert-danger">entweder Email oder Name</div>


    <div class="row vert-space">
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button [disabled]="btnSubmitDisabled" type="submit" class="btn btn-primary btn-block">absenden</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button type="submit" (click)="cancel()" class="btn btn-primary btn-block">leeren</button>
      </div>
    </div>
  </form>

  <div *ngIf="alleBenutzer" class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 sec-header-2">Anzahl Treffer: {{alleBenutzer?.length}}</div>
  </div>

  <div class="row">
    <div *ngFor="let b of alleBenutzer" class="col-sm-12 col-md-6 col-lg-3">
      <admin-benutzer-overview [benutzer]="b"></admin-benutzer-overview>
    </div>
  </div>
</div>
