<div class="card" [ngStyle]="getStyles()">
  <div class="card-body">
    <h4 class="card-title">{{benutzer.basisdaten.vorname}} {{benutzer.basisdaten.nachname}}</h4>
    <p class="card-text"><strong>Email:</strong> {{benutzer.basisdaten.email}}</p>
    <p class="card-text"><strong>Anz.Teilnahmen:</strong> {{benutzer.erweiterteKontodaten.anzahlTeilnahmen}}</p>
    <p *ngIf="benutzer.basisdaten.rolle === 'MKV_LEHRER'" class="card-text"><strong>ADV-Vereinbarung:</strong>
      {{benutzer.erweiterteKontodaten.advVereinbarungVorhanden}}</p>
    <p class="card-text"><strong>UUID:</strong> {{benutzer.geschuetzteKontodaten.uuid}}</p>
    <p class="card-text"><strong>Zuletzt online:</strong> {{benutzer.geschuetzteKontodaten.lastAccess}}</p>

    <div class="container">
      <div class="row">
        <div *ngIf="benutzer.erweiterteKontodaten.schule" class="col-md-6 col-sm-12 btn-container">
           <div class="btn btn-block btn-outline-dark btn-wrapper-normal" (click)="toggleSchule()">
            Schule
          </div>
        </div>
        <div *ngIf="btnUploadVisible" class="col-md-6 col-sm-12 btn-container">
          <div class="btn btn-block btn-outline-dark btn-wrapper-small">
            <admin-file-upload (filesSelect)="filesSelect($event)" [fileUplodConfig]="fileUplodConfig">
              <i class="fa fa-upload fa-1x" aria-hidden="true"></i> upload
            </admin-file-upload>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="schuleVisible" class="bordered">
      <admin-schule-overview [schule]="benutzer.erweiterteKontodaten.schule"></admin-schule-overview>
    </div>
  </div>
</div>