
<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-sm-12 col-md-12 sec-header-1">Einmalpasswort &auml;ndern</div>
	</div>
	<div class=row>
		<div class="col-sm-12 col-md-12 sec-header-2">Das Passwort ist nur kurze Zeit g&uuml;ltig. Bitte &auml;ndern Sie
			es jetzt.</div>
	</div>
	<p>Sie haben per Mail ein Einmalpasswort erhalten. Verwenden Sie es, um sich ein neues Passwort zu geben. Hierzu
		wird die Mailadresse ben&ouml;tigt, mit der sie registriert sind.</p>
	<form novalidate [formGroup]="changeTempPwdForm" (ngSubmit)="onSubmit(changeTempPwdForm.value)">

		<!-- Group Email -->
		<div class="row form-group" [class.error]="formSubmitAttempt && email.touched && !email.valid">
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
				<label for="emailInput">Email*:</label>
			</div>
			<div class="col-xs-9 col-sm-10 col-md-9 col-lg-10">
				<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse" formControlName="email" mkvLowerCase>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<button type="button" (click)="toggleEmailInfo()" data-toggle="tooltip" class="btn"
					[ngClass]="{'btn-default' : infoEmailExpanded, 'btn-primary': !infoEmailExpanded}" title="{{tooltipMailadresse}}">
					{{infoEmailExpanded ? 'X' : '+'}}</button>
			</div>
		</div>
		<div *ngIf="infoEmailExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoEmailExpanded">
					<div class="alert alert-info">{{tooltipMailadresse}}</div>
				</div>
			</div>
		</div>
		<mkv-show-error path="email" text="Email"></mkv-show-error>

		<!-- Group Einmalpasswort -->
		<div class="row form-group" [class.error]="formSubmitAttempt && passwort.touched && !passwort.valid">
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
				<label for="pwdOldInput">Einmalpasswort*:</label>
			</div>
			<div class="col-xs-9 col-sm-10 col-md-9 col-lg-10">
				<input class="form-control" type="password" id="pwdOldInput" placeholder="Einmalpasswort" formControlName="passwort">
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<button type="button" (click)="toggleTempPwdInfo()" data-toggle="tooltip" class="btn"
					[ngClass]="{'btn-default' : infoTempPwdExpanded, 'btn-primary': !infoTempPwdExpanded}" title="{{tooltipTempPwd}}">
					{{infoTempPwdExpanded ? 'X' : '+'}}</button>
			</div>
		</div>
		<div *ngIf="infoTempPwdExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoTempPwdExpanded">
					<div class="alert alert-info">{{tooltipTempPwd}}</div>
				</div>
			</div>
		</div>
		<mkv-show-error path="passwort" text="Einmalpasswort"></mkv-show-error>

		<!-- Group neues Passwort -->
		<div class="row form-group" [class.error]="formSubmitAttempt && passwortNeu.touched && !passwortNeu.valid">
			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
				<label for="pwdNewInput">Neues Passwort*:</label>
			</div>
			<div class="col-xs-9 col-sm-10 col-md-9 col-lg-10">
				<input class="form-control" type="password" id="pwdNewInput" placeholder="mind. 8 Zeichen..."
					formControlName="passwortNeu">
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<button type="button" (click)="togglePwdInfo()" data-toggle="tooltip" class="btn"
					[ngClass]="{'btn-default' : infoPasswordExpanded, 'btn-primary': !infoPasswordExpanded}"
					title="{{tooltipPasswort}}">{{infoPasswordExpanded ? 'X' : '+'}}</button>
			</div>
		</div>
		<div *ngIf="infoPasswordExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoPasswordExpanded">
					<div class="alert alert-info">{{tooltipPasswort}}</div>
				</div>
			</div>
		</div>
		<mkv-show-error path="passwortNeu" text="neues Passwort"></mkv-show-error>

		<!-- Group neues Passwort wiederholt -->
		<div class="row form-group" [class.error]="formSubmitAttempt && passwortNeuWdh.touched && !passwortNeuWdh.valid">
			<div class="col-xs-12 col-sm-12 col-md-2">
				<label for="pwdNewWdhInput">Neues Passwort wiederholt*:</label>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-10">
				<input class="form-control" type="password" id="pwdNewWdhInput" placeholder="Passwort neu wiederholt"
					formControlName="passwortNeuWdh">
			</div>
		</div>
		<mkv-show-error path="passwortNeuWdh" text="Neues Passwort wiederholt"></mkv-show-error>

		<!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
		<div *ngIf="formSubmitAttempt && changeTempPwdForm.hasError('passwortNeuPasswortNeuWdh')" class="alert alert-danger">Die neuen
			Passw&ouml;rter stimmen nicht &uuml;berein.</div>


		<div class="row kleber">
			<div class="col-sm-2 col-md-2">
				<label for="kleberInput">Kleber:</label>
			</div>
			<div class="col-sm-10 col-md-10">
				<input type="text" id="kleberInput" placeholder="leer lassen!!!!" formControlName="kleber">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="btnSubmitDisabled" type="submit" class="btn btn-primary btn-block">Passwort &auml;ndern</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>
