
<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-sm-12 col-md-12 sec-header-1">Passwort vergessen</div>
	</div>
	<div class=row>
		<div class="col-sm-12 col-md-12 sec-header-2">Fordern Sie hier ein Einmalpasswort an.</div>
	</div>
	<p>Sollten Ihnen 2 Eingabefelder angezeigt werden, f&uuml;llen Sie bitte nur das Email-Feld aus. Sonst erhalten Sie
		ein ung&uuml;ltiges Einmalpasswort.</p>
	<form novalidate [formGroup]="orderTempPwdForm" (ngSubmit)="onSubmit(orderTempPwdForm.value)">
		<div class="row form-group" [class.error]="formSubmitAttempt && email.touched && !email.valid">

			<div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
				<label for="emailInput">Email*:</label>
			</div>
			<div class="col-xs-9 col-sm-10 col-md-9 col-lg-10">
				<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse" formControlName="email" mkvLowerCase>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<button type="button" (click)="toggleEmailInfo()" data-toggle="tooltip" class="btn"
					[ngClass]="{'btn-default' : infoEmailExpanded, 'btn-primary': !infoEmailExpanded}" title="{{tooltipMailadresse}}">
					{{infoEmailExpanded ? 'X' : '+'}}</button>
			</div>
		</div>
		<div *ngIf="infoEmailExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoEmailExpanded">
					<div class="alert alert-info">{{tooltipMailadresse}}</div>
				</div>
			</div>
		</div>
		<mkv-show-error path="email" text="Email"></mkv-show-error>

		<div class="row kleber">
			<div class="col-sm-2 col-md-2">
				<label for="kleberInput">Kleber:</label>
			</div>
			<div class="col-sm-10 col-md-10">
				<input type="text" id="kleberInput" placeholder="leer lassen!!!!" formControlName="kleber">
			</div>
		</div>
		<mkv-show-error path="kleber" text="Kleber"></mkv-show-error>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" [disabled]="btnSubmitDisabled || !orderTempPwdForm.valid" class="btn btn-primary btn-block">Passwort anfordern</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>