.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
  z-index: 1000;
  width: 75%;
  height: 10%;
/**  overflow: auto;
  margin: auto;
*/
  position: absolute;
  bottom: 100px;
  padding: 10px;
  border: 1px solid #888;
  background-color: #ffcc80;
}

.dialog__close-btn {
  border: 0;
  background: none;
  color: #2d2d2d;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
}

/*==========  Non-Mobile First Method  ==========*/
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.dialog {
		width: 90%;
		height: 5%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.dialog {
		width: 90%;
		height: 5%;
	}
}

