<div class="card center-block col-sm-11 col-md-10 vert-space">

	<div class="row">
		<div class="col-sm-12 col-md-12 sec-header-1">Minik&auml;nguru {{jahr}}</div>
	</div>

	<p>Anmelden k&ouml;nnen sich Grundschulen, Vereine, Institutionen und Privatpersonen. Von diesen kann eine
		beliebige Anzahl Kinder teilnehmen, also auch einzelne Kinder. Es m&uuml;ssen nicht ganze Klassen teilnehmen.</p>
	<p>Die Teilnahme ist kostenlos.</p>
	<p>
		Bitte nutzen Sie die <a href="https://mathe-jung-alt.de/minikaenguru/archiv.html" target="_blank">Aufgaben</a> der
		vergangenen Jahre, um die Kinder auf den Wettbewerb vorzubereiten.
	</p>
	<p>
		<strong>Um sich zum Minikänguru-Wettbewerb {{jahr}} zu registrieren: Wenn Sie bereits ein Konto haben, loggen
			Sie sich bitte ein. Wenn nicht, legen Sie bitte ein Konto an. </strong>
	</p>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Login</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoLogin()">Login</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Konto anlegen</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6 vert-space">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoRegisterLehrer()">Lehrer/Lehrerin</button>
					</div>
					<div class="col-sm-12 col-md-6 vert-space">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoRegisterPrivat()">privat</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Einmalpasswort &auml;ndern</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoChangeTempPwd()">&auml;ndern</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
