<div class="row">
	<div class="col-sm-12 col-md-12">Version 1.0</div>
</div>

	<p class="card-title">1. Gegenstand und Dauer der Verarbeitung</p>
	<p>1.1. Gegenstand der Vereinbarung sind die Rechte und Pflichten der Parteien im Rahmen der Leistungserbringung bei der Durchführung des Minikänguruwettbewerbs, soweit eine Verarbeitung von personenbezogenen Daten durch den
	Auftragnehmer als Auftragsverarbeiter für den Auftraggeber gemäß Art. 28 DSGVO erfolgt. Dies umfasst alle Tätigkeiten, die der Auftragnehmer zur Erfüllung des Auftrags erbringt und die eine Auftragsverarbeitung darstellen.
	Dies gilt auch, sofern der Auftrag nicht ausdrücklich auf diese Vereinbarung zur Auftragsverarbeitung verweist.</p>
	<p>1.2. Die Dauer der Verarbeitung endet, wenn der Auftraggeber nicht mehr an den jährlichen Minikängurwettbewerben teilnimmt und dies dem Auftragnehmer mitteilt.</p>

	<p class="card-title">2. Art und Zweck der Verarbeitung</p>
	<p>2.1. Die Art der Verarbeitung umfasst alle Arten von Verarbeitungen im Sinne der DSGVO zur Erfüllung des Auftrags.</p>
	<p>2.2. Zwecke der Verarbeitung sind alle zur Ausrichtung des Minikänguruwettbewerbs erforderlichen Leistungen.</p>

	<p class="card-title">3. Art der personenbezogenen Daten und Kategorien von Betroffenen</p>
	<p>3.1. Es werden folgende personenbezogenen Daten verarbeitet:</p>
	<ul>
	<li><strong>Benutzerkonten:</strong> Vorname, Nachname, Emailadresse, Schule</li>
	<li><strong>Schülerinnen und Schüler:</strong> Vorname, optional Nachname, Schule, Klassenstufe, Klasse</li>
	</ul>
	<p>3.2. Kategorien der Betroffenen sind <strong>Lehrerinnen und Lehrer der auftraggebenden Schule</strong>, die zum Zweck der Durchführung des Minikänguruwettbewerbs Benutzerkonten in der Minikänguru-Anwendung anlegen und die Minikänguru- Anwendung
	verwenden sowie <strong>Schülerinnen und Schüler der auftraggebenden Schule</strong>, deren Daten zum Zweck der Erstellung von Urkunden in der Online-Auswertung in der Minikänguru-Anwendung eingegeben werden.</p>

	<p class="card-title">4. Verantwortlichkeit und Verarbeitung auf dokumentierte Weisungen</p>
	<p>4.1. Der Auftraggeber ist im Rahmen dieser Vereinbarung für die Einhaltung der gesetzlichen Bestimmungen der Datenschutzgesetze, insbesondere für die Rechtmäßigkeit der Datenweitergabe an den Auftragnehmer sowie für die Rechtmäßigkeit
	der Datenverarbeitung allein verantwortlich ("Verantwortlicher" im Sinne des Art. 4 Nr. 7 DSGVO). Dies gilt auch im Hinblick auf die in dieser Vereinbarung geregelten Zwecke und Mittel der Verarbeitung.</p>
	<p>4.2. Die Weisung zur Verarbeitung der unter 3. genannten personenbezogenen Daten wird anfänglich durch die Anmeldung der Schule zum Minikänguruwettbewerb und der Zustimmung zur Datenschutzerklärung festgelegt und kann vom Auftraggeber danach in
	schriftlicher Form oder in einem elektronischen Format (Textform) durch einzelne Weisungen geändert werden (Einzelweisung). Bei Änderungsvorschlägen teilt der Auftragnehmer dem Auftraggeber mit, welche Auswirkungen sich auf die vereinbarten
	Leistungen, insbesondere die Möglichkeit der Leistungserbringung ergeben. Ist dem Auftragnehmer die Umsetzung der Weisung nicht zumutbar, so ist der Auftragnehmer berechtigt, die Verarbeitung zu beenden. Eine Unzumutbarkeit liegt insbesondere vor,
	wenn die Leistungen in einer Infrastruktur erbracht werden, die von mehreren Auftraggebern des Auftragnehmers genutzt wird.</p>
	<p>4.3. Die Verarbeitung der Daten findet ausschließlich in einem Mitgliedsstaat der Europäischen Union statt.</p>

	<p class="card-title">5. Rechte des Auftraggebers, Pflichten des Auftragnehmers</p>
	<p>5.1. Der Auftragnehmer darf Daten von betroffenen Personen nur im Rahmen des Auftrages und der dokumentierten Weisungen des Auftraggebers verarbeiten außer es liegt ein Ausnahmefall im Sinne des Artikels 28 Abs. 3 a) DSGVO vor (Verpflichtung nach dem
	Recht der Europäischen Union oder eines Mitgliedstaates). Der Auftragnehmer informiert den 	Auftraggeber unverzüglich, wenn er der Auffassung ist, dass eine Weisung gegen anwendbare Gesetze verstößt. Der Auftragnehmer darf die Umsetzung der Weisung
	solange aussetzen, bis sie vom Auftraggeber bestätigt oder abgeändert wurde.</p>
	<p>5.2. Der Auftragnehmer unterstützt angesichts der Art der Verarbeitung nach Möglichkeit den Auftraggeber mit geeigneten technischen und organisatorischen Maßnahmen bei der Erfüllung der Ansprüche der betroffenen Personen nach Kapitel III der DSGVO.</p>
	<p>5.3. Der Auftragnehmer unterstützt den Auftraggeber unter Berücksichtigung der Art der Verarbeitung und der ihm zur Verfügung stehenden Informationen bei der Einhaltung der in den Artikeln 32 bis 36 DSGVO genannten Pflichten.</p>
	<p>5.4. Dem Auftragnehmer ist es untersagt, die Daten außerhalb der Weisung zu verarbeiten. Ferner hat sich der Auftragnehmer zur Vertraulichkeit verpflichtet. Gleiches gilt für das Fernmeldegeheimnis nach § 88 TKG und – in Kenntnis der Strafbarkeit –
	für die Wahrung von Geheimnissen der Berufsgeheimnisträger nach § 203 StGB. Die Vertraulichkeits-/ Verschwiegenheitspflicht besteht auch nach Beendigung des Auftrags fort.</p>
	<p>5.5. Der Auftragnehmer unterrichtet den Auftraggeber unverzüglich, wenn ihm Verletzungen des Schutzes personenbezogener Daten des Auftraggebers bekannt werden. Der Auftragnehmer trifft die erforderlichen Maßnahmen zur Sicherung der Daten und zur Minderung
	möglicher nachteiliger Folgen für die betroffenen Personen.</p>
	<p>5.6. Nach Abschluss der Erbringung der Verarbeitungsleistungen löscht der Auftragnehmer nach Wahl des Auftraggebers entweder alle personenbezogenen Daten oder gibt sie dem Auftraggeber zurück.</p>
	<p>5.7. Machen betroffene Person Schadensersatzansprüche nach Art. 82 DSGVO geltend, unterstützt der Auftragnehmer den Auftraggeber bei der Abwehr der Ansprüche im Rahmen seiner Möglichkeiten. Der Auftragnehmer kann hierfür die Beteiligung des Auftraggebers
	an dadurch für den Auftragnehmer entstehende Kosten verlangen.

	<p class="card-title">6. Pflichten des Auftraggebers</p>
	<p>6.1. Der Auftraggeber hat den Auftragnehmer unverzüglich und vollständig zu informieren, wenn er bei der Durchführung des Auftrags Fehler oder Unregelmäßigkeiten bzgl. datenschutzrechtlicher Bestimmungen feststellt.</p>
	<p>6.2. Im Falle der Beendigung verpflichtet sich der Auftraggeber, diejenigen personenbezogenen Daten vor Vertragsbeendigung zu löschen oder deren Löschung anzuweisen, die er in den Diensten gespeichert hat.</p>
	<p>6.3. Auf Anforderung des Auftragnehmers benennt der Auftraggeber einen Ansprechpartner in Datenschutzangelegenheiten.</p>

	<p class="card-title">7. Maßnahmen zur Sicherheit der Verarbeitung gemäß Art. 32 DSGVO</p>
	<p>7.1. Der Auftragnehmer ergreift in seinem Verantwortungsbereich geeignete technische und organisatorische Maßnahmen, um sicher zu stellen, dass die Verarbeitung gemäß den Anforderungen der DSGVO erfolgt und den Schutz für die Rechte und Freiheiten der
	betroffenen Person gewährleistet. Der Auftragnehmer ergreift in seinem Verantwortungsbereich gemäß Art. 32 DSGVO geeignete technische und organisatorische Maßnahmen, um die Vertraulichkeit, Integrität, Verfügbarkeit und Belastbarkeit
	der Systeme und Dienste im Zusammenhang mit der Verarbeitung auf Dauer sicherzustellen.</p>
	<p>7.2. Die aktuellen technischen und organisatorischen Maßnahmen sind im Anhang 2 aufgeführt.</p>
	<p>7.3. Der Auftragnehmer passt die getroffenen Maßnahmen im Laufe der Zeit an die Entwicklungen beim Stand der Technik und die Risikolage an. Eine Änderung der getroffenen technischen und organisatorischen Maßnahmen bleibt dem Auftragnehmer vorbehalten,
	sofern das Schutzniveau nach Art 32 DSGVO nicht unterschritten wird.</p>

	<p class="card-title">8. Nachweis und Überprüfung</p>
	<p>8.1. Der Auftragnehmer stellt dem Auftraggeber alle erforderlichen Informationen zum Nachweis der Einhaltung der in Art. 28 DSGVO niedergelegten Pflichten zur Verfügung und ermöglicht Überprüfungen, die vom Auftraggeber oder einem anderen von
	diesem beauftragten Prüfer durchgeführt werden, und trägt dazu bei. Der Auftragnehmer ist berechtigt, eine Verschwiegenheitserklärung vom Auftraggeber und von dessen beauftragtem Prüfer zu verlangen. Der Auftragnehmer stimmt der Benennung
	eines unabhängigen externen Prüfers durch den Auftraggeber zu, sofern der Auftraggeber dem Auftragnehmer eine Kopie des Auditberichts zur Verfügung stellt. Wettbewerber des Auftraggebers oder Personen, die für Wettbewerber des Auftraggebers
	tätig sind, kann der Auftragnehmer als Prüfer ablehnen.</p>
	<p>8.2. Der Auftragnehmer ist berechtigt, die Beteiligung des Auftraggebers an durch die Überprüfung für den Auftragnehmer entstehenden Kosten zu verlangen. Der Aufwand für den Auftragnehmer durch eine Inspektion ist grundsätzlich auf einen
	Tag pro Kalenderjahr begrenzt.</p>
	<p>8.3. Sollte eine Datenschutzaufsichtsbehörde oder eine sonstige staatliche oder kirchliche Aufsichtsbehörde des Auftraggebers eine Inspektion vornehmen, gelten die vorstehenden Regeln entsprechend. Eine Unterzeichnung einer Verschwiegenheitsverpflichtung
	ist nicht erforderlich, wenn diese Aufsichtsbehörde einer berufsrechtlichen oder gesetzlichen Verschwiegenheit unterliegt, bei der ein Verstoß nach dem Strafgesetzbuch strafbewehrt ist.</p>

	<p class="card-title">9. Subunternehmer (weitere Auftragsverarbeiter)</p>
	<p>9.1. Der Auftraggeber erteilt dem Auftragnehmer die allgemeine Genehmigung, weitere Auftragsverarbeiter im Sinne des Art. 28 DSGVO zur Vertragserfüllung einzusetzen.</p>
	<p>9.2. Die aktuell eingesetzten weiteren Auftragsverarbeiter sind im Anhang 1 aufgeführt. Der Auftraggeber erklärt sich mit deren Einsatz einverstanden.</p>
	<p>9.3. Der Auftragnehmer informiert den Auftraggeber, wenn er eine Änderung in Bezug auf die Hinzuziehung oder die Ersetzung weiterer Auftragsverarbeiter beabsichtigt. Der Auftraggeber kann gegen derartige Änderungen Einspruch erheben.</p>
	<p>9.4. Der Einspruch gegen die beabsichtigte Änderung kann nur aus einem wichtigen datenschutzrechtlichen Grund innerhalb einer angemessenen Frist nach Zugang der Information über die Änderung gegenüber dem Auftragnehmer erhoben werden. Im Fall des
	Einspruchs kann der Auftragnehmer nach eigener Wahl die Leistung ohne die beabsichtigte Änderung erbringen oder - sofern die Erbringung der Leistung ohne die beabsichtigte Änderung für den Auftragnehmer nicht zumutbar ist - die von der Änderung
	betroffene Leistung gegenüber dem Auftraggeber innerhalb einer angemessenen Frist nach Zugang des Einspruchs einstellen.</p>
	<p>9.5. Erteilt der Auftragnehmer Aufträge an weitere Auftragsverarbeiter, so obliegt es dem Auftragnehmer, seine datenschutzrechtlichen Pflichten aus diesem Vertrag auf den weiteren Auftragsverarbeiter zu übertragen.</p>
	<p>9.6. Als weitere Auftragsverarbeiter im Sinne dieser Regelung sind nur solche Subunternehmer zu verstehen, die Dienstleistungen erbringen, die sich unmittelbar auf die Erbringung der Hauptleistung beziehen. Nicht hierzu gehören solche
	Nebenleistungen, die sich auf Telekommunikationsleistungen, Druck-/Post-/Transportdienstleistungen, Wartung und Pflege, Benutzerservice oder die Entsorgung von Datenträgern sowie sonstige Maßnahmen zur Sicherstellung der Vertraulichkeit, Verfügbarkeit,
	Integrität und Belastbarkeit der personenbezogenen Daten, Netze, Dienste, Datenverarbeitungsanlagen und sonstiger IT-Systeme, beziehen. Der Auftragnehmer ist jedoch verpflichtet, zur Gewährleistung des Datenschutzes und der Datensicherheit in Bezug
	auf die Daten des Auftraggebers auch bei solchen Nebenleistungen angemessene und gesetzeskonforme vertragliche Vereinbarungen sowie Kontrollmaßnahmen zu ergreifen.</p>

	<p class="card-title">10. Haftung und Schadensersatz</p>
	<p>10.1. Im Fall der Geltendmachung eines Schadensersatzanspruches durch eine betroffene Person nach Art. 82 DSGVO verpflichten sich die Parteien, sich gegenseitig zu unterstützen und zur Aufklärung des zugrundeliegenden Sachverhalts beizutragen.</p>
	<p>10.2. Für Schäden haftet der Auftragnehmer nur bei Vorsatz und grober Fahrlässigkeit. Verletzt der Auftragnehmer wesentliche Vertragspflicht (Kardinalpflicht) in einer die Vereinbarung gefährdenden Weise, ist die Haftung auf den
	typischen Schaden beschränkt, den der Auftragnehmer bei Abschluss der Vereinbarung vernünftigerweise vorhersehen konnte, es sei denn die Pflichtverletzung geschieht vorsätzlich oder grob fahrlässig.</p>

	<p class="card-title">11. Vereinbarungslaufzeit, Sonstiges</p>
	<p>11.1. Die Vereinbarung beginnt mit dem Abschluss durch den Auftraggeber. Sie endet, wenn der Auftraggeber nicht mehr an den jährlichen Minikängurwettbewerben teilnimmt und dies dem Auftragnehmer mitteilt. Sollte eine Auftragsverarbeitung noch
	nach Beendigung dieser Vereinbarung stattfinden, gelten die Regelungen dieser Vereinbarung bis zum tatsächlichen Ende der Verarbeitung.</p>
	<p>11.2. Der Auftragnehmer kann die Vereinbarung nach billigem Ermessen mit angemessener Ankündigungsfrist ändern.</p>
	<p>11.3. Sollten einzelne Teile dieser Vereinbarung unwirksam sein, so berührt dies die Wirksamkeit der Vereinbarungen im Übrigen nicht.</p>


	<p class="card-title">Anhang 1 zur Vereinbarung zur Auftragsverarbeitung - Genehmigte Subunternehmer / weitere Auftragsverarbeiter</p>
	<p>Stand 07.05.2018</p>

	<div class="row">
	<div class="col-sm-12 col-md-4"><strong>Subunternehmer</strong></div>
	<div class="col-sm-12 col-md-8">STRATO AG</div>
	</div>
	<div class="row">
	<div class="col-sm-12 col-md-4"><strong>Land</strong></div>
	<div class="col-sm-12 col-md-8">Deutschland</div>
	</div>
	<div class="row">
	<div class="col-sm-12 col-md-4"><strong>Adressen</strong></div>
	<div class="col-sm-12 col-md-8">Pascalstraße 10, 10587 Berlin</div>
	</div>
	<div class="row">
	<div class="col-sm-12 col-md-4"><strong>Kurzbeschreibung der Leistungen</strong></div>
	<div class="col-sm-12 col-md-8">Hosting (VServer)</div>
	</div>

    <br>

	<p class="card-title">Anhang 2 zur Vereinbarung zur Auftragsverarbeitung - Technische und Organisatorische Sicherheitsmaßnahmen gemäß Art 32 DSGVO</p>
	<p>Version 1.0</p>

	<p class="card-title">1. Vertraulichkeit (Art. 32 Abs. 1 lit. b DSGVO)</p>

	<p>1.1. Zutrittskontrolle</p>
	<p class="hinweis">Unbefugten ist der Zutritt zu Räumen zu verwehren, in denen Datenverarbeitungsanlagen untergebracht sind.</p>
	<p>Privatwohnung</p>

	<p>1.2. Zugangskontrolle</p>
	<p class="hinweis">Es ist zu verhindern, dass Datenverarbeitungssysteme von Unbefugten genutzt werden.</p>
	<ul>
	<li>Umsetzung einfacher Authentisierung per Username Passwort</li>
	<li>Gesicherte (verschlüsselte) Übertragung von Authentisierungsgeheimnissen</li>
	<li>Penalty-Zeit bei häufigen Fehlversuchen zur Verhinderung von Brute- Force- Attacken auf das Loginformular</li>
	<li>keine Speicherfunktion für Passwörter und/oder Formulareingaben (Server/Clients)</li>
	</ul>

	<p>1.3. Zugriffskontrolle</p>
	<p class="hinweis">Es kann nur auf Daten zugegriffen werden, für die eine Zugriffsberechtigung besteht. Daten können bei der Verarbeitung, Nutzung und nach der Speicherung nicht unbefugt gelesen, kopiert, verändert oder entfernt werden. </p>
	<ul>
	<li>Umsetzung eines Berechtigungskonzepts</li>
	<li>Umsetzung von Zugriffsbeschränkungen</li>
	<li>Vergabe minimaler Berechtigungen</li>
	<li>Verwaltung und Dokumentation von personengebundenen Zugriffsberechtigungen</li>
	<li>Vermeidung der Konzentration von Funktionen</li>
	</ul>

	<p>1.4. Verwendungszweckkontrolle</p>
	<p class="hinweis">Es ist zu gewährleisten, dass zu unterschiedlichen Zwecken erhobene Daten getrennt verarbeitet werden können.</p>
	<ul>
	<li>Datensparsamkeit im Umgang mit personenbezogenen Daten</li>
	<li>Getrennte Verarbeitung verschiedener Datensätze</li>
	<li>Regelmäßige Verwendungszweckkontrolle und Löschung</li>
	<li>Trennung von Produktions-, Test- und Entwicklungsumgebung</li>
	</ul>

	<p>1.5. datenschutzfreundliche Voreinstellungen</p>
	<p>Sofern Daten zur Erreichung des Verwendungszwecks nicht erforderlich sind, werden die technischen Voreinstellungen so festgelegt, dass Daten nur durch eine Aktion der Betroffenen Person erhoben, verarbeitet, weitergegeben oder
	eröffentlicht werden.</p>

	<p class="card-title">2. Integrität (Art. 32 Abs. 1 lit. b DSGVO)</p>

	<p>2.1. Weitergabekontrolle</p>
	<p class="hinweis">Ziel der Weitergabekontrolle ist es, zu gewährleisten, dass personenbezogene Daten bei der elektronischen Übertragung oder während ihres Transports oder ihrer Speicherung auf Datenträger nicht unbefugt gelesen, kopiert,
	verändert oder entfernt werden können, und dass überprüft und festgestellt werden kann, an welche Stellen eine Übermittlung personenbezogener Daten durch Einrichtungen zur Datenübertragung vorgesehen ist.</p>

	<ul>
	<li>Sichere Datenübertragung zwischen Server und Client</li>
	<li>Sicherung der Übertragung im Backend</li>
	<li>Sichere Übertragung zu externen Systemen</li>
	<li>Härtung der Backendsysteme</li>
	<li>Sichere Ablage von Daten, inkl. Backups</li>
	<li>Gesicherte Speicherung auf mobilen Datenträgern</li>
	<li>Datenschutzgerechte Lösch- und Zerstörungsverfahren</li>
	</ul>

	<p>2.2. Eingabekontrolle</p>
	<p class="hinweis">Zweck der Eingabekontrolle ist es, zu gewährleisten, dass nachträglich überprüft und festgestellt werden kann, ob und von wem personenbezogene Daten in Datenverarbeitungssysteme eingegeben, verändert oder entfernt worden sind.</p>

	<ul>
	<li>Protokollierung der Eingaben</li>
	<li>Dokumentation der Eingabeberechtigungen</li>
	</ul>

	<p class="card-title">3. Verfügbarkeit, Belastbarkeit, Desaster Recovery</p>

	<p>3.1 Verfügbarkeit und Belastbarkeit (Art. 32 Abs. 1 lit. b DSGVO)</p>

	<ul>
	<li>Brandschutz</li>
	<li>Datensicherungskonzepte und Umsetzung</li>
	</ul>

	<p>3.2 Desaster Recovery – Rasche Wiederherstellung nach Zwischenfall Zwischenfall (Art. 32 Abs. 1 lit. c DSGVO)</p>

	<ul>
	<li>Notfallplan</li>
	<li>Datensicherungskonzepte und Umsetzung</li>
	</ul>

	<p class="card-title">4. Datenschutzorganisation</p>

	<ul>
	<li>Umsetzung und Kontrolle geeigneter Prozesse</li>
	<li>regelmäßige Weiterbildung</li>
	<li>Verpflichtung auf Vertraulichkeit</li>
	</ul>

	<p class="card-title">5. Auftragskontrolle</p>
	<p class="hinweis">Ziel der Auftragskontrolle ist es, zu gewährleisten, dass personenbezogene Daten, die im Auftrag verarbeitet werden, nur entsprechend den Weisungen des Auftraggebers verarbeitet werden können.</p>

	<ul>
	<li>Auswahl weiterer Auftragnehmer nach geeigneten Garantien</li>
	<li>Abschluss einer Vereinbarung zur Auftragsverarbeitung mit weiteren Auftragnehmern</li>
	<li>Abschluss einer Vereinbarung zur Auftragsverarbeitung mit Heike Winkelvoß</li>
	</ul>

	<p class="card-title">6. Verfahren zur regelmäßigen Überprüfung, Bewertung und Evaluierung (Art. 32 Abs. 1 lit. d DSGVO; Art. 25 Abs. 1 DSGVO)</p>

	<ul>
	<li>Prozess zur Evaluation der technischen und organisatorischen Maßnahmen</li>
	<li>Prozess Sicherheitsvorfall- Management</li>
	<li>Durchführung von technischen Überprüfungen</li>
	</ul>




