<input type="file" accept=".xls,.ods,.xlsx" #file style="display: none" (change)="onFilesAdded()" />

<div class="card center-block col-sm-11 col-md-11">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Auswertungstabellen (Excel, OpenOffice) hochladen</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Anzahl hochgeladene Auswertungstabellen:
      {{aktuelleTeilnahme?.anzahlUploads}}</div>
  </div>

  <div *ngIf="!excelUploadState.disabled && anzahlTeilnehmer === 0" class="card card-warning">
    <div class="row">
      <div class="col-sm-12 col-md-12 sec-header-2">Bitte beachten Sie:</div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 .sec-desr-hinweis">
        Wenn Sie Exceltabellen hochladen, k&ouml;nnen Sie die Online-Auswertung nicht mehr nutzen.
        <br> Dr&uuml;cken Sie <strong>abbrechen</strong>, um Ihre Auswertung und
        die Urkunden hier im Programm zu erstellen.<br>
      </div>
    </div>
  </div>
  <div *ngIf="anzahlTeilnehmer > 0 || !auswertungState.disabled && excelUploadState.disabled" class="row">
    <div class="col-sm-12 col-md-12 sec-descr">{{uploadDisabledText}}</div>
  </div>
  <div class="row" *ngIf="!auswertungState.disabled && anmeldenState.visible">
    <div class="col-xs-12 col-sm-12 col-md-3" *ngIf="anmeldenState.visible">
      <div class="boxed-group">
        <div class="row">
          <div class="col-sm-12 col-md-12 sec-header-1">Wettbewerb</div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 sec-descr">{{anmeldenState.text}}</div>
        </div>
        <div class="row vert-space">
          <div class="col-sm-12 col-md-12">
            <button [disabled]="anmeldenState.disabled" type="button" class="btn btn-primary btn-block"
              (click)="submitAnmeldung()">anmelden f&uuml;r {{globalSettings.wettbewerbsjahr}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!excelUploadState.disabled && anzahlTeilnehmer === 0" class="row vert-space">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="row">
        <div *ngIf="uploading" class="col-xs-12 col-sm-12 col-md-12">Bitte warten...</div>
      </div>

      <div class="row mitrand">
        <button [disabled]="uploading" (click)="addFiles()" role="button"
          class="btn btn-warning col-xs-12 col-sm-12 col-md-12">
          <div *ngIf="!uploading">
            <span class="fa fa-upload fa-1x" aria-hidden="true"></span> Datei ausw&auml;hlen<br> (ohne Urkunden)
          </div>
        </button>
      </div>
      <!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
      <div *ngIf="hasError" class="alert alert-danger">{{errorMsg}}</div>
    </div>
    <div *ngIf="!excelUploadState.disabled" class="col-xs-12 col-sm-12 col-md-3 vert-space">
      <button [disabled]="hasError || selectedFile === undefined" type="submit" (click)="uploadFiles()"
        class="btn btn-primary btn-block">hochladen</button>
    </div>
    <div *ngIf="!auswertungState.disabled" class="col-xs-12 col-sm-12 col-md-3 vert-space">
      <button type="submit" (click)="gotoAuswertung()" class="btn btn-primary btn-block">abbrechen</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 vert-space">
      <button type="submit" (click)="cancel()" class="btn btn-primary btn-block">zur &Uuml;bersicht</button>
    </div>
  </div>
  <div *ngIf="selectedFile !== undefined">
    <p>{{selectedFile.name}}</p>
  </div>

</div>
