<div class="container-fluid">
	<h2>Kataloge</h2>

	<div class="row">
		<div class="card col-sm-12 col-md-4">
			<div class="card-block p-3">
				<button type="button" class="btn btn-primary btn-block" (click)="gotoLaender()">Länder</button>
			</div>
		</div>
		<div class="card col-sm-12 col-md-4">
			<div class="card-block p-3">
				<button type="button" class="btn btn-primary btn-block" (click)="gotoOrte()">Orte</button>
			</div>
		</div>
		<div class="card col-sm-12 col-md-4">
			<div class="card-block p-3">
				<button type="button" class="btn btn-primary btn-block" (click)="gotoSchulen()" >Schulen</button>
			</div>
		</div>
	</div>
</div>