body {
	padding-top: 60px;
	font-size: 16px;
}

ul > li > a, div > a, div > button {
	font-size: 18px !important;
}

.footer {
	background-color: #e3e3e3e3;
	border: 1px #e7e7e7 solid;
	padding: 10px 25px 10px 25px;
	border-radius: 5px;
}

.footer-text, btn-link.footer {
	color: #000000;
}

.focusable {
	outline: #66afe9 thick;
}

a.footer-text, a.footer-text:active, a.footer-text:visited, btn-link.footer
	{
	color: #d3d7cf;
	text-decoration: none;
}

a.footer-text:hover, btn-link.footer {
	color: white;
	text-decoration: underline;
}

.mitrand {
	margin: 3px;
}

.untersetzer {
	background-color: #f9f9f9;
	padding: 10px 5px 10px 5px;
	margin: 7px;
}

.center-block {
	padding: 5px 10px 5px 10px;
}

.card {
	background-color: white;
	padding: 10px 5px 10px 5px;
	margin: 30px;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
	-webkit-transition: .25s box-shadow;
	transition: .25s box-shadow;
}

.card-header {
	font-size: 18px;
	font-weight: bold;
	color: #204a87;
}

.card-title {
	font-weight: bold;
}

/**
.card {
  padding-left: 10px;
  margin: 7px;
  border: 1px;
}
*/
.card:focus, .card:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0
		rgba(0, 0, 0, 0.15);
}

.card-hinweis {
	background-color: #fffae6;
}

.card-warning {
	background-color: #fbe9d0;
}

.card-ok {
	background-color: #eefbe9;
}

.text-error {
	font-weight: bold;
	color: #a94442;
}

.form {
	margin: 10px 0px 10px 0px;
}

.ng-touched .ng-invalid {
	border-color: #a94442
}

.bordered {
	background-color: #f9f9f9;
	border: 1px #e7e7e7 solid;
	padding: 50px 15px 10px 15px;
	margin: 75px 15px 15px 15px;
	border-radius: 5px;
}

.bordered-inverse {
	background-color: white;
	border: 1px #e7e7e7 solid;
	padding: 10px 15px 10px 15px;
	margin: 5px;
	border-radius: 5px;
}

.boxed-group {
	background-color: white;
	/*
	 background-color: #f9f9f9;
	border: 1px #e7e7e7 solid;
	border-radius: 5px;
	*/
	padding: 10px;
	margin: 15px 5px 15px 5px;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
	-webkit-transition: .25s box-shadow;
	transition: .25s box-shadow;
}

.boxed-group:focus, .boxed-group:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0
		rgba(0, 0, 0, 0.15);
}

.boxed-group>h4 {
	font-weight: bold;
	font-size: 20px;
	padding: 20px 5px 20px 5px;
}

.boxed-group-inner {
	background-color: white;
	border-top: 1px #e7e7e7 solid;
	padding: 0px;
}

.group {
	padding: 10px 5px 10px 5px;
}

.form-group {
	margin-top: 15px;
	margin-bottom: 30px;
}

.button {
	background: #204a87;
	color: white;
	border: 1px #555753 solid;
	text-align: center;
	margin-left: 15px;
	margin-right: 50px;
}

.infoLabel {
	font-size: 14px;
}

.vert-space {
	margin-top: 5px;
	margin-bottom: 15px;
}

.left-space {
	margin-left: 5px;
	margin-right: 5px;
}

.sec-header-1, .sec-header-2, .progress {
	font-weight: bold;
	color: #296395;
}

.sec-header-1 {
	font-size: 22px;
	margin: 10px 5px 10px 5px;
}

.sec-header-2 {
	font-size: 18px;
	margin: 3px 5px 10px 5px;
}

.sec-descr {
	font-size: 16px !important;
	padding-bottom: 10px;
	margin: 3px 5px 10px 5px;
	/**color: #337ab7;*/
}

.progress {
	font-size: 16px;
	margin: 20px 20px 20px 20px;
	background-color: white;
}


.sec-desr-hinweis {
	padding-bottom: 10px;
	font-size: 22px important!;
}

.buttontitle {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #1b4264; /** ##163550*/
}

.hint {
	font-weight: bold;
	font-size: 16px;
	color: #757575;
}

.descr {
	font-size: 14px;
	color: blue;
}

.info-btn {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	background: #337AB7;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	margin: 0px;
	text-decoration: none;
}

.btnContainer {
	display: table;
	margin: auto;
	padding-top: 15px;
}

.close-btn {
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: #888a85;
	padding: 5px 10px 5px 10px;
	margin: 0px;
	text-decoration: none;
}

.kleber {
	position: fixed;
	left: -1000px;
}

.splash {
	opacity: 0;
	transition: opacity .8s ease-in-out;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #eeeeec;
	z-index: -1;
}

h1.splash, h2.spash {
	color: #204a87;
}

table {
	table-layout: fixed;
	border-collapse: separate;
	margin-left: 5px;
	width: 300px; /* Important */
	border-spacing: 0 1px; /* this is the ultimate fix */
}

td {
	width: 50px;
}

.errorMsg {
	color: #a94442;
	font-weight: blod;
}

.missing {
	background-color: #d3d7cf;
}

.invalid {
	background-color: #ffffcc; /**#eae4bb;*/
}

.valid {
	background-color: #c6f3b6;
}

.itembox {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.boxedtext {
	margin-left: 10px;
}

.toggle-on, .toggle-off {
	background: white;
	border: 1px #555753 solid;
	text-align: center;
}

.toggle-off {
	color: white;
}

.toggle-on {
	color: #555753;
}

.dialogParent {
	/** nur zur Definition der Klasse */
	position: relative;
}

.dialog {
	z-index: 10;
	position:absolute;
	width: 90%;
	height: 80%;
	margin: 0;
	padding: 0;
}

.dialogContent {
	border: 1px solid #888;
	border-radius: 5px;
	background-color: #ffcc80;
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (min-width : 320px) {
	body {
		padding-top: 0px;
	}
	.sec-header-1 {
		font-size: 18px;
	}
	.sec-descr {
		font-size: 12px;
	}
	.card {
		padding: 10px 5px 10px 5px;
		margin: 2px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	body {
		padding-top: 60px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		padding-top: 100px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body {
		padding-top: 0px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		padding-top: 0px;
	}
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	body {
		padding-top: 0px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body {
		padding-top: 0px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	body {
		padding-top: 100px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	body {
		padding-top: 60px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	body {
		padding-top: 0px;
	}
}