.pagination {
	margin: 5rem 0rem 5rem 0rem;
}

.disabled {
	background-color: #e7e7e7;
}

.active {
	background-color: #729fcf;
}

.pagination-item {
	margin: 1rem 1rem 1rem 1rem;
	padding: 1rem 1rem 1rem 1rem;
	border: 0.1rem #729fcf solid;
}

a {
	cursor: pointer;
}