<div class="container-fluid">
  <h2 *ngIf="!gefiltert">
    {{schulen?.length}} angemeldete Schulen
  </h2>
  <h2 *ngIf="gefiltert">{{gefilterteSchulen?.length}} von {{schulen?.length}} Schulen</h2>


  <div class="row">
    <div class="col-md-3">
      <button type="submit" (click)="refresh()" class="btn btn-primary btn-block vert-space">neu laden</button>
    </div>
    <div *ngIf="gefiltert" class="col-md-3">
      <button type="submit" (click)="clearFilter()" class="btn btn-primary btn-block vert-space">alle</button>
    </div>
    <div *ngIf="!gefiltert" class="col-md-3">
      <button type="submit" (click)="showGeaenderte()" class="btn btn-primary btn-block vert-space">nur geänderte</button>
    </div>
    <div *ngIf="!gefiltert" class="col-md-3">
      <button type="submit" (click)="showAuswertbare()" class="btn btn-primary btn-block vert-space">nur auswertbare
      </button>
    </div>
  </div>

  <form novalidate [formGroup]="suchmodusForm">
    <div class="row">
      <div class="col-md-3">
        <label class="radio-inline">
          <input type="radio" value="SCHULE" name="suchmodus" formControlName="suchmodus" [(ngModel)]="selectedSuchmodusName"
            (ngModelChange)="onSuchmodusSelected()"> Schule
        </label>
        <label class="radio-inline">
          <input type="radio" value="ORT" name="suchmodus" formControlName="suchmodus" [(ngModel)]="selectedSuchmodusName"
            (ngModelChange)="onSuchmodusSelected()"> Ort
        </label>
        <label class="radio-inline">
          <input type="radio" value="LAND" name="suchmodus" formControlName="suchmodus" [(ngModel)]="selectedSuchmodusName"
            (ngModelChange)="onSuchmodusSelected()"> Land
        </label>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <label for="sucheInput">Suchen:</label>
    </div>
    <div class="col-sm-12 col-md-6">
      <input class="form-control" type="text" id="sucheInput" placeholder="Schule, Ort oder Land like" [ngModel]="suchstring" (ngModelChange)="suchstringChanged($event)">
    </div>
  </div>

  <div class="row">
    <div *ngFor="let s of schulen" class="col-sm-12 col-md-4 col-lg-3">
      <admin-auswertungsgruppe [rootgruppe]="s"></admin-auswertungsgruppe>
    </div>
  </div>
</div>
