<div class="card" [ngStyle]="getStyles()">

  <div class="card-body">
    <h4 class="card-title">{{rootgruppe.rootgruppe.name}}</h4>
    <p class="card-text">
      <strong>Katalogeintrag: </strong>
      <br>{{rootgruppe.schulteilnahme.schule}}</p>
    <p class="card-text">
      <strong>Schulkürzel: </strong>{{rootgruppe.schulteilnahme.schulkuerzel}}</p>
    <p class="card-text">
      <strong>Kürzel Teilnahmegruppe: </strong>{{rootgruppe.rootgruppe.kuerzel}}</p>
    <p class="card-text">
      <strong>Ort: </strong>{{rootgruppe.schulteilnahme.ort}} ({{rootgruppe.schulteilnahme.ortkuerzel}})</p>
    <p class="card-text">
      <strong>Land: </strong>{{rootgruppe.schulteilnahme.land}} ({{rootgruppe.schulteilnahme.landkuerzel}})</p>
    <p *ngIf="rootgruppe.anzahlLoesungszettel > 0" class="card-text">
      <strong>Anz.Lösungszettel: </strong>{{rootgruppe.anzahlLoesungszettel}}</p>
    <p *ngIf="rootgruppe.anzahlLoesungszettel > 0 && rootgruppe.auswertungsupload" class="card-text">
      <strong>Onlineauswertung: </strong>nein</p>
    <p *ngIf="rootgruppe.anzahlLoesungszettel > 0 && !rootgruppe.auswertungsupload" class="card-text">
      <strong>Onlineauswertung: </strong>ja</p>

    <!--
    <p class="card-text">
      <div class="row">
        <div *ngFor="let jahr of rootgruppe.teilnahmejahre" class="col-sm-12 col-md-4 col-lg-3">
          {{jahr}}
        </div>
      </div>
    </p>
  -->
  </div>
