<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 sec-header-1">Länderkatalog</div>
  </div>

  <div class="row">
    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-primary" (click)="neuesLand()">neues Land</button>
    </div>
    <div class="col-md-5 text-right">
      <a [routerLink]="'/kataloge/orte'">Orte</a>
    </div>
    <div class="col-md-5 text-right">
      <a [routerLink]="'/kataloge/schulen'">Schulen</a>
    </div>
  </div>
  <br>

  <form *ngIf="anlegenFormVisible" novalidate [formGroup]="landAnlegenForm" #formDirective="ngForm" (ngSubmit)="onSubmit(landAnlegenForm.value)">
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="kuerzelInput">Ländercode *:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="kuerzel.touched && !kuerzel.valid" class="form-control" type="text" id="kuerzelInput" placeholder="Ländercode"
            formControlName="kuerzel">
        </div>
      </div>
      <admin-show-error path="kuerzel" text="Ländercode"></admin-show-error>
    </div>
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="nameInput">Name *:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="nameInput" placeholder="Name (Bundes-)Land"
            formControlName="name">
        </div>
      </div>
      <admin-show-error path="name" text="Name"></admin-show-error>
    </div>

    <div class="row vert-space">
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button [disabled]="!formSubmitAttempt && !landAnlegenForm.valid" type="submit" class="btn btn-primary btn-block">absenden</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button type="submit" (click)="cancelLandAnlegen()" class="btn btn-primary btn-block">abbrechen</button>
      </div>
    </div>
  </form>

  <div *ngIf="laender" class="row">
    <div class="col-sm-12 col-md-9 sec-header-2">Anzahl Länder: {{laender?.length}}</div>
  </div>

  <div class="row">
    <div *ngFor="let l of laender" class="col-sm-12 col-md-4 col-lg-3">
      <admin-land-overview [land]="l"></admin-land-overview>
    </div>
  </div>
</div>
