<div class="card">

  <div class="card-body">
    <h4 class="card-title">{{land.name}}</h4>
    <p class="card-text">
      <strong>Kürzel: </strong> {{land.kuerzel}}</p>
    <p class="card-text">
      <strong>Anzahl Orte: </strong>{{land.anzahlOrte}}</p>

    <p>
      <button type="submit" (click)="toggleNeuerOrt()" class="btn btn-primary">
        neuer Ort
      </button>
    </p>


    <div *ngIf="anlegenFormVisible" class="bordered">
      <div class="row">
        <div class="col-sm-12 col-md-12 strong">Ort anlegen</div>
      </div>
      <form novalidate [formGroup]="ortAnlegenForm" #formDirective="ngForm" (ngSubmit)="onSubmit(ortAnlegenForm.value)">
        <div class="group">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <label for="nameInput">Name *:</label>
            </div>
            <div class="col-sm-12 col-md-12">
              <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="nameInput" placeholder="Name" formControlName="name">
            </div>
          </div>
          <admin-show-error path="name" text="Name"></admin-show-error>
        </div>

        <div class="row vert-space">
          <div class="col-sm-12 col-md-6 vert-space">
            <button [disabled]="!formSubmitAttempt && !ortAnlegenForm.valid" type="submit" class="btn btn-primary btn-block">absenden</button>
          </div>
        </div>
      </form>
    </div>
  </div>
