<div class="container-fluid">
  <h2>Statistik</h2>

  <div class="row">
    <div *ngFor="let j of jahre" class="col-sm-12 col-md-4 col-lg-3">
      <admin-jahr [teilnahmejahr]="j"></admin-jahr>
    </div>
  </div>
</div>
