<div class="container-fluid">
	<h2>Übersicht {{jahr}}</h2>

	<div class="card">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl Schulen:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{anzahlSchulen}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl Privatteilnahmen:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{anzahlPrivatteilnahmen}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl Kinder:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{anzahlKinder}}</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-4 vert-space">
					<button type="button" [disabled]="selectedGruppen.length===0" (click)="gewaehlteAuswerten()"
						class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
						<span class="fa fa-calculator fa-1x" aria-hidden="true"></span> auswerten
					</button>
				</div>
				<div class="col-sm-12 col-md-4 vert-space">
					<button type="button" (click)="cancel()" class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
						<span class="fa fa-arrow-circle-left fa-1x" aria-hidden="true"></span> zur&uuml;ck
					</button>
				</div>
			</div>
		</div>
	</div>



	<admin-teilnahmegruppe *ngFor="let g of teilnahmegruppen" [teilnahmegruppe]="g" (gruppeSelect)="onGruppeSelected($event)"></admin-teilnahmegruppe>


	<div class="row">
		<div class="col-sm-12 col-md-4 vert-space">
			<button type="button" [disabled]="selectedGruppen.length===0" (click)="gewaehlteAuswerten()"
				class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
				<span class="fa fa-calculator fa-1x" aria-hidden="true"></span> auswerten
			</button>
		</div>
		<div class="col-sm-12 col-md-4 vert-space">
			<button type="button" (click)="cancel()" class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
				<span class="fa fa-arrow-circle-left fa-1x" aria-hidden="true"></span> zur&uuml;ck
			</button>
		</div>
	</div>
</div>

