<div class="container-fluid" (click)="toggleSelected()">
	<h2>{{teilnahmegruppe?.filter.name}}</h2>
	<div class="card" [ngStyle]="getStyles()">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Kürzel:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{teilnahmegruppe?.kuerzel}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl Anmeldungen:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{teilnahmegruppe?.anzahlAnmeldungen}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl Kinder:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{teilnahmegruppe?.anzahlKinder}}</div>
			</div>
		</div>
	</div>
</div>



