<div class="card">
	<div class="card-block p-3">
		<div class="row">
			<div class="col-sm-12 col-md-12 strong">Wettbewerb {{teilnahmejahr.jahr}}</div>
		</div>
		<div class="row">
			<div class=" col-sm-12 col-md-6">
				<button class="vert-space left-space" type="submit" (click)="gotoGruppenuebersicht()" >Gruppenübersicht</button>
			</div>
			<div class=" col-sm-12 col-md-6">
				<button class="vert-space left-space" type="submit" (click)="getGesamtpunktverteilung()">Gesamtauswertung</button>
			</div>
		</div>
	</div>
</div>

