<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a *ngIf="loggedIn" class="navbar-brand" routerLink="/dashboard"><span class="fa fa-home fa-1x" aria-hidden="true"></span>
		Admin-App</a>
	<a *ngIf="!loggedIn" class="navbar-brand" routerLink="/landing"><span class="fa fa-home fa-1x" aria-hidden="true"></span>
		Admin-App</a>
	<button class="navbar-toggler d-lg-none" id="navbarToggler" type="button" (click)="isCollapsed = !isCollapsed"
	 [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
		<ul class="navbar-nav mr-auto">
			<li routerLinkActive="active"><a routerLink="/kataloge" (click)="collapseNav()" class="nav-link"><span class="fa fa-book fa-1x"
					 aria-hidden="true"></span> Kataloge <span class="sr-only">(current)</span></a></li>
			<li routerLinkActive="active"><a routerLink="/schulen" (click)="collapseNav()" class="nav-link"><span class="fa fa-building fa-1x"
					 aria-hidden="true"></span> Auswertungsgruppen <span class="sr-only">(current)</span></a></li>
			<li routerLinkActive="active"><a routerLink="/benutzer" (click)="collapseNav()" class="nav-link"><span class="fa fa-users fa-1x"
					 aria-hidden="true"></span> Benutzer</a></li>
			<li routerLinkActive="active"><a routerLink="/mail" (click)="collapseNav()" class="nav-link"><span class="fa fa-envelope fa-1x"
					 aria-hidden="true"></span> Mail</a></li>
			<li routerLinkActive="active"><a routerLink="/statistik" (click)="collapseNav()" class="nav-link"><span class="fa fa-calculator fa-1x"
					 aria-hidden="true"></span> Statistik</a></li>
			<li routerLinkActive="active"><a routerLink="/auswertungstabellen" (click)="collapseNav()" class="nav-link"><i class="fa fa-file-excel-o"
					 aria-hidden="true"></i>Uploads</a></li>
			<li routerLinkActive="active"><a routerLink="/kontext" (click)="collapseNav()" class="nav-link"><span class="fa fa-cogs fa-1x"
					 aria-hidden="true"></span> Kontext</a></li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li *ngIf="!loggedIn" routerLinkActive="active"><a routerLink="/login" (click)="collapseNav()" class="nav-link"><span
					 class="fa fa-sign-in fa-1x" aria-hidden="true"></span> Anmelden <span class="sr-only">(current)</span></a></li>
			<li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="/" (click)="logout()" class="nav-link"><span class="fa fa-sign-out fa-1x"
					 aria-hidden="true"></span> Abmelden</a></li>
		</ul>
	</div>
</nav>