<div class="container-fluid">
	<h2>Minik&auml;nguru Anwendungskonfiguration</h2>
	<div *ngIf="kontext!==null" class="card">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Datum Freigabe Lehrer:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{kontext.datumFreigabeLehrer}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Datum Freigabe privat:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{kontext.datumFreigabePrivat}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Download Lehrer aktiv:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{getText(kontext.downloadFreigegebenLehrer)}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Download privat aktiv:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{getText(kontext.downloadFreigegebenPrivat)}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Neuanmeldung freigegeben:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{getText(kontext.neuanmeldungFreigegeben)}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Temppwd:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{kontext.gueltigkeitEinmalpasswort}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Maximalzahl Bytes in zip:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{kontext.maxExtractedBytes}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Text Start Anmeldug:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{kontext.startAnmeldungText}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Upload aktiv:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{getText(!kontext.uploadDisabled)}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Wartungsmeldung aktiv:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{getText(kontext.ankuendigungWartungsmeldung)}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Wartungsmeldung:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{kontext.wartungsmeldungText}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Wettbewerb beendet:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{getText(kontext.wettbewerbBeendet)}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Wettbewerbsjahr:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{kontext.wettbewerbsjahr}}</div>
			</div>
		</div>

		<div *ngIf="kontext === null">Tja, leider hat's mit dem Laden des Kontexts nicht geklappt :/</div>
	</div>
</div>
