<div class="container-fluid">
	<div class="card" [ngStyle]="getStyles()">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Aufgabe:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.nummer}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anteil richtig:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.anteilRichtigGeloest}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anteil falsch:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.anteilFalschGeloest}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anteil nicht gelöst:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.anteilNichtGeloest}}</div>
			</div>
		</div>
	</div>
</div>

