<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9 col-sm-10 col-md-11 h2">Klassenstufe {{daten.klassenstufe}}</div>
		<div *ngIf="isAnyExpanded()" class="col-xs-3 col-sm-2 col-md-1">
			<button type="button" (click)="collapsAll()" class="btn" title="alle zuklappen">&times;</button>
		</div>
		<div *ngIf="isAllCollapsed()" class="col-xs-3 col-sm-2 col-md-1">
			<button type="button" (click)="expandAll()" class="btn" title="alle aufklappen">&#43;</button>
		</div>
	</div>
	<div class="card">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl Teilnehmer:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{daten.anzahlTeilnehmer}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Median:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{daten.median}}</div>
			</div>
		</div>

		<div class="card-block p-3">
			<div class="row">
				<div class="col-xs-9 col-sm-10 col-md-11 h3">Punktintervalle</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="togglePunktverteilung()" class="btn" title="aufklappen">{{showPunktverteilung
						? '&times;' : '&#43;'}}</button>
				</div>
			</div>
			<div *ngIf="showPunktverteilung">
				<admin-punktklasse-item *ngFor="let d of daten.gesamtpunktverteilungItems" [item]="d"></admin-punktklasse-item>
			</div>
		</div>

		<div class="card-block p-3">
			<div class="row">
				<div class="col-xs-9 col-sm-10 col-md-11 h3">Aufgabenergebnisse</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="toggleAufgabenItem()" class="btn" title="aufklappen">{{showAufgabenItems ?
						'&times;' : '&#43;'}}</button>
				</div>
			</div>
			<div *ngIf="showAufgabenItems">
				<admin-aufgabe-ergebnis *ngFor="let d of daten.aufgabeErgebnisItems" [item]="d"></admin-aufgabe-ergebnis>
			</div>
		</div>

		<div class="card-block p-3">
			<div class="row">
				<div class="col-xs-9 col-sm-10 col-md-11 h3">Rohpunkte</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="toggleRohpunktitems()" class="btn" title="aufklappen">{{showRohpunktItems ?
						'&times;' : '&#43;'}}</button>
				</div>
			</div>
			<div *ngIf="showRohpunktItems">
				<admin-rohpunkt *ngFor="let d of daten.rohpunktItems" [item]="d"></admin-rohpunkt>
			</div>
		</div>
	</div>
</div>



