<div class="container-fluid">
	<div class="card">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Punktklasse:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.intervall}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.anzahlImIntervall}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Prozentrang:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.intervallPR}}</div>
			</div>
		</div>
	</div>
</div>

