<div class="container-fluid">
	<h2>{{title}} {{teilnahmejahr?.jahr}}</h2>
	<p>Anzahl Kinder: {{anzahlKinder}}</p>
	<div class="row">
		<button type="button" (click)="cancel()" class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
			<span class="fa fa-arrow-circle-left fa-1x" aria-hidden="true"></span> zur &Uuml;bersicht
		</button>
	</div>

	<admin-gesamtpunkte-daten *ngFor="let d of daten" [daten]="d"></admin-gesamtpunkte-daten>

	<div class="row">
		<button type="button" (click)="cancel()" class="col sm-12 col-md-3 vert-space btn btn-light btn-block">
			<span class="fa fa-arrow-circle-left fa-1x" aria-hidden="true"></span> zur &Uuml;bersicht
		</button>
	</div>

</div>

