<div class="container-fluid">
	<div class="card">
		<div class="card-block p-3">
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Punkte:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.punkte}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Anzahl:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.anzahl}}</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-3 col-xl-2 strong">Prozentrang:</div>
				<div class="col-md-8 col-lg-9 col-xl-10">{{item?.prozentrang}}</div>
			</div>
		</div>
	</div>
</div>

