<div class="card center-block col-sm-11 col-md-9">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-9 sec-header-1">Benutzerkonto anlegen</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 sec-descr">Es gen&uuml;gt, je Familie ein Benutzerkonto anzulegen, da
			ich die Namen der teilnehmenden Kinder nicht ben&ouml;tige.</div>
	</div>
	<form novalidate [formGroup]="registerPForm" (ngSubmit)="onSubmit(registerPForm.value)">

		<div class="group ">
			<div class="col-xs-12 col-sm-12 col-md-9">
				<div class="checkbox">
					<label [class.error]="agbGelesen.touched && !agbGelesen.touched"> <input type="checkbox"
						formControlName="agbGelesen">*Ich habe die Datenschutzerkl&auml;rung gelesen und willige ein.
					</label>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<a href="https://mathe-jung-alt.de/minikaenguru/datenschutz.html" target="_blank"
					class="btn btn-link btn-block">Datenschutzerkl&auml;rung</a>
			</div>
		</div>


		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="vornameInput">Vorname*:</label>
				</div>
			</div>
			<div class="row" [class.error]="vorname.touched && !vorname.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="vornameInput" placeholder="Vorname" formControlName="vorname">
				</div>
			</div>
			<mkv-show-error path="vorname" text="Vorname"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="nachnameInput">Nachname*:</label>
				</div>
			</div>
			<div class="row" [class.error]="nachname.touched && !nachname.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="nachnameInput" placeholder="Nachname" formControlName="nachname">
				</div>
			</div>
			<mkv-show-error path="nachname" text="Nachname"></mkv-show-error>
		</div>



		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="emailInput">Email*:</label>
				</div>
			</div>
			<div class="row" [class.error]="email.touched && !email.valid">
				<div class="col-xs-9 col-sm-10 col-md-11">
					<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse" formControlName="email"
						mkvLowerCase>
				</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="toggleEmailInfo()" data-toggle="tooltip" class="btn"
						[ngClass]="{'btn-default' : infoEmailExpanded, 'btn-primary': !infoEmailExpanded}" title="{{tooltipEmail}}">{{infoEmailExpanded
						? '&times;' : '&#43;'}}</button>
				</div>
			</div>
			<div *ngIf="infoEmailExpanded">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoEmailExpanded">
						<div class="alert alert-info">{{tooltipEmail}}</div>
					</div>
				</div>
			</div>
			<mkv-show-error path="email" text="Email"></mkv-show-error>
		</div>

		<div class="group ">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="pwdInput">Passwort*:</label>
				</div>
			</div>
			<div class="row" [class.error]="passwort.touched && !passwort.valid">
				<div class="col-xs-9 col-sm-10 col-md-11">
					<input class="form-control" type="password" id="pwdInput" placeholder="mindestens 8 Zeichen..."
						formControlName="passwort">
				</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="togglePwdInfo()" data-toggle="tooltip" class="btn"
						[ngClass]="{'btn-default' : infoPasswordExpanded, 'btn-primary': !infoPasswordExpanded}"
						title="{{tooltipPasswort}}">{{infoPasswordExpanded ? '&times;' : '&#43;'}}</button>
				</div>
			</div>
		</div>
		<div *ngIf="infoPasswordExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoPasswordExpanded">
					<div class="alert alert-info">{{tooltipPasswort}}</div>
				</div>
			</div>
		</div>
		<mkv-show-error path="password" text="Passwort"></mkv-show-error>

		<div class="group ">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="pwdWdhInput">Passwort wiederholt*:</label>
				</div>
			</div>
			<div class="row" [class.error]="passwortWdh.touched && !passwortWdh.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="password" id="pwdWdhInput" placeholder="mindestens 8 Zeichen..."
						formControlName="passwortWdh">
				</div>
			</div>
		</div>
		<mkv-show-error path="passwortWdh" text="Passwort wiederholt"></mkv-show-error>

		<!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
		<div *ngIf="registerPForm.hasError('passwortNeuPasswortNeuWdh')" class="alert alert-danger">Die Passw&ouml;rter
			stimmen nicht &uuml;berein.</div>

		<div class="group " *ngIf="neuanmeldungFreigegeben">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="checkbox">
					<label [class.error]="gleichAnmelden.touched && !gleichAnmelden.touched"> <input type="checkbox"
						formControlName="gleichAnmelden">Ich m&ouml;chte mich gleich zum Wettbewerb {{wettbewerbsjahr}} anmelden.
					</label>
				</div>
			</div>
		</div>

		<div class="group ">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="checkbox">
					<label [class.error]="automatischBenachrichtigen.touched && !automatischBenachrichtigen.touched"> <input
						type="checkbox" formControlName="automatischBenachrichtigen"><strong>Mailbenachrichtigung: </strong>{{textChkNewsletter}}
					</label>
				</div>
			</div>
		</div>

		<div class="row kleber">
			<div class="col-sm-2 col-md-2">
				<label for="kleberInput">Kleber:</label>
			</div>
			<div class="col-sm-10 col-md-10">
				<input type="text" id="kleberInput" placeholder="leer lassen!!!!" formControlName="kleber">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="!registerPForm.valid || isSubmitDisabled()" type="submit" class="btn btn-primary btn-block">absenden</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>