
<div class="col-md-6 col-sm-12">
	<div class="boxed-group">
		<div class=row>
			<div class="col-sm-12 col-md-12 sec-header-1">Konto anlegen</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 vert-space">
				<button type="button" class="btn btn-primary btn-block" (click)="gotoRegisterLehrer()">Lehrer/Lehrerin</button>
			</div>
			<div class="col-sm-12 col-md-6 vert-space">
				<button type="button" class="btn btn-primary btn-block" (click)="gotoRegisterPrivat()">privat</button>
			</div>
		</div>
	</div>
</div>
