<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Benutzerkonto l&ouml;schen</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 sec-descr">Das L&ouml;schen Ihres Benutzerkontos kann nicht r&uuml;ckg&auml;ngig
			gemacht werden. Sie k&ouml;nnen aber jederzeit ein neues Benutzerkonto anlegen.</div>
	</div>
	<form novalidate [formGroup]="kontoLoeschenForm" (ngSubmit)="onSubmit(kontoLoeschenForm.value)">
		<div class="group ">
			<div class="checkbox">
				<label [class.error]="einverstanden.touched && !einverstanden.touched"> <input type="checkbox"
					formControlName="einverstanden">* Ja, mein Benutzerkonto soll gel&ouml;scht werden.
				</label>
			</div>
			<mkv-show-error path="einverstanden" text="chckb"></mkv-show-error>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="!kontoLoeschenForm.valid" type="submit" class="btn btn-danger btn-block">Konto
					l&ouml;schen</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>