<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-sm-12 col-md-12 sec-header-1">Passwort &auml;ndern</div>
	</div>
	<p>&Uuml;ber die &Auml;nderung Ihres Passworts werden Sie aus Sicherheitsgr&uuml;nden zus&auml;tzlich per Mail informiert.</p>
	<form novalidate [formGroup]="changePasswortForm" (ngSubmit)="onSubmit(changePasswortForm.value)">

		<!-- Group altes Passwort -->
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label for="passwortInput">Altes Passwort*:</label>
				</div>
			</div>
			<div class="row" [class.error]="!btnSubmitDisabled && formSubmitAttempt &&  passwort.touched && !passwort.valid">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input class="form-control" type="password" id="passwortInput" placeholder="altes Passwort"
						formControlName="passwort">
				</div>
			</div>
		</div>
		<mkv-show-error path="passwort" text="Passwort"></mkv-show-error>

		<!-- Group neues Passwort-->
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label for="pwdNewInput">Neues Passwort*:</label>
				</div>
			</div>
			<div class="row" [class.error]="!btnSubmitDisabled && formSubmitAttempt && passwortNeu.touched && !passwortNeu.valid">
				<div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
					<input class="form-control" type="password" id="pwdNewInput" placeholder="mind. 8 Zeichen..."
						formControlName="passwortNeu">
				</div>
				<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
					<button type="button" (click)="togglePwdInfo()" data-toggle="tooltip" class="btn"
						[ngClass]="{'btn-default' : infoPasswordExpanded, 'btn-primary': !infoPasswordExpanded}"
						title="{{tooltipPasswort}}">{{infoPasswordExpanded ? '&times;' : '&#43;'}}</button>
				</div>
			</div>
		</div>
		<div *ngIf="infoPasswordExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoPasswordExpanded">
					<div class="alert alert-info">{{tooltipPasswort}}</div>
				</div>
			</div>
		</div>
		<mkv-show-error path="passwortNeu" text="neues Passwort"></mkv-show-error>

		<!-- Group neues Passwort wiederholt -->
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label for="pwdNewWdhInput">Neues Passwort wiederholt*:</label>
				</div>
			</div>
			<div class="row" [class.error]="!btnSubmitDisabled && formSubmitAttempt && passwortNeuWdh.touched && !passwortNeuWdh.valid">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input class="form-control" type="password" id="pwdNewWdhInput" placeholder="Passwort neu wiederholt"
						formControlName="passwortNeuWdh">
				</div>
			</div>
		</div>
		<mkv-show-error path="passwortNeuWdh" text="Neues Passwort wiederholt"></mkv-show-error>

		<!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
		<div *ngIf="!btnSubmitDisabled && formSubmitAttempt && changePasswortForm.hasError('passwortNeuPasswortNeuWdh')" class="alert alert-danger">Die
			neuen Passw&ouml;rter stimmen nicht &uuml;berein.</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="btnSubmitDisabled" type="submit" class="btn btn-primary btn-block">absenden</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>
