<div class="card center-block col-sm-11 col-md-10">
	<div class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Profil</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Name</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoNameAendern()">&auml;ndern</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Mailadresse</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoEmailAendern()">&auml;ndern</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Passwort</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoPasswortAendern()">&auml;ndern</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3" *ngIf="showSchulzuordnung()">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Schule &auml;ndern</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-primary btn-block" (click)="gotoSchulzuordnung()">andere Schule</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<mkv-newsletter></mkv-newsletter>
		<div class="col-xs-12 col-sm-12 col-md-3">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Konto l&ouml;schen</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button type="button" class="btn btn-danger btn-block" (click)="gotoKontoLoeschen()">l&ouml;schen</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>