<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Namen &auml;ndern</div>
	</div>
	<form novalidate [formGroup]="nameAendernForm" (ngSubmit)="onSubmit(nameAendernForm.value)">
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="vornameInput">Vorname*:</label>
				</div>
			</div>
			<div class="row" [class.error]="formSubmitAttempt && vorname.touched && !vorname.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="vornameInput" placeholder="Vorname"
						formControlName="vorname">
				</div>
			</div>
			<mkv-show-error path="vorname" text="Vorname"></mkv-show-error>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="nachnameInput">Nachname*:</label>
				</div>
			</div>
			<div class="row" [class.error]="formSubmitAttempt && nachname.touched && !nachname.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="nachnameInput" placeholder="Nachname"
						formControlName="nachname">
				</div>
			</div>
			<mkv-show-error path="nachname" text="Nachname"></mkv-show-error>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="btnSubmitDisabled"  type="submit"
					class="btn btn-primary btn-block">absenden</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>