<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Mailadresse &auml;ndern</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 sec-descr">Die &Auml;nderung Ihrer Mailadresse muss mit Passwort best&auml;tigt
			werden.</div>
	</div>
	<form novalidate [formGroup]="emailAendernForm" (ngSubmit)="onSubmit(emailAendernForm.value)">
		<div class="group hidden">
			<div class="row hidden">
				<div class="hidden">
					<input class="hidden" type="text" id="usernameInput" placeholder="alte Mailadresse"
						formControlName="username">
				</div>
			</div>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="emailInput">Email*:</label>
				</div>
			</div>
			<div class="row" [class.error]="formSubmitAttempt && email.touched && !email.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse"
						formControlName="email" mkvLowerCase>
				</div>
			</div>
			<mkv-show-error path="email" text="Email"></mkv-show-error>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="pwdInput">Passwort*:</label>
				</div>
			</div>
			<div class="row" [class.error]="formSubmitAttempt && password.touched && !password.valid">
				<div class="col-xs-9 col-sm-10 col-md-11">
					<input class="form-control" type="password" id="pwdInput" placeholder="mindestens 8 Zeichen..."
						formControlName="password">
				</div>
				<div class="col-xs-3 col-sm-2 col-md-1">
					<button type="button" (click)="togglePwdInfo()" data-toggle="tooltip" class="btn"
						[ngClass]="{'btn-default' : infoPasswordExpanded, 'btn-primary': !infoPasswordExpanded}"
						title="{{tooltipPasswort}}">{{infoPasswordExpanded ? 'X' : '+'}}</button>
				</div>
			</div>
		</div>
		<div *ngIf="infoPasswordExpanded">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" *ngIf="infoPasswordExpanded">
					<div class="alert alert-info">{{tooltipPasswort}}</div>
				</div>
			</div>
		</div>
		<mkv-show-error path="password" text="Passwort"></mkv-show-error>

		<div *ngIf="formSubmitAttempt && emailAendernForm.hasError('attributeAttributeWdhEqual')" class="alert alert-danger">Die alte
			Mailadresse muss sich von der neuen unterscheiden.</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled] = "btnSubmitDisabled" type="submit"
					class="btn btn-primary btn-block">absenden</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>