<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Schule wechseln</div>
	</div>
	aktuelle Schule:
	<mkv-schule [schule]="user.erweiterteKontodaten.schule"></mkv-schule>
	<form novalidate [formGroup]="neueSchuleForm" (ngSubmit)="onSubmit(neueSchuleForm.value)">
		<mkv-schulauswahl></mkv-schulauswahl>
		<!-- Hier kann man nicht über die ShowErrorComponent gehen, da es keinen formControlName gibt. Daher Fehlermeldung direkt einhängen -->
		<div *ngIf="neueSchuleForm.hasError('alteSchuleRequired')" class="alert alert-danger">Es gab einen Serverfehler.
			Bitte schreiben Sie eine Mail.</div>
		<div *ngIf="neueSchuleForm.hasError('neueSchuleRequired')" class="alert alert-danger">Schule ist ein Pflichtfeld</div>
		<div class="group ">
			<div class="checkbox">
				<label [class.error]="einverstanden.touched && !einverstanden.touched"> <input type="checkbox"
					formControlName="einverstanden">Mit dem Wechsel der Schule m&ouml;chte ich die neue Schule gleich zum
					Wettbewerb {{wettbewerbsjahr}} anmelden.
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="!neueSchuleForm.valid || isSubmitDisabled()" type="submit"
					class="btn btn-primary btn-block">absenden</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>