<div class="card">
	<h4 class="card-header">{{teilnahme.teilnahmeIdentifier.jahr}}</h4>
	<div *ngIf="showSchule()" class="card-block">
		<mkv-schule [schule]="teilnahme.schule"></mkv-schule>
		<div *ngIf="showKollegen()">
			<h5 class="card-subtitle">Kollegen: {{teilnahme.kollegen}}</h5>
		</div>
	</div>
	<h5 *ngIf="showUploads()" class="card-subtitle">Anzahl hochgeladene Auswertungstabellen:
		{{teilnahme.anzahlUploads}}</h5>
	<h5 *ngIf="showAnzahlKinder()" class="card-subtitle">Anzahl Kinder: {{teilnahme.anzahlTeilnehmer}}</h5>
	<h5 class="card-subtitle">Anzahl Lösungszettel: {{teilnahme.anzahlLoesungszettel}}</h5>

	<div *ngIf="hatStatistik" class="row">
		<div *ngIf="!showDownloadLink" class="col-xs-12 col-sm-12 col-md-3 vert-space">
			<button type="button" class="pull-right btn btn-primary btn-block" (click)="erstelleSchulstatistik()">
				<span class="fa fa-calculator fa-1x" aria-hidden="true"></span> Statistik erstellen
			</button>
		</div>
		<div *ngIf="showDownloadLink" class="col-xs-12 col-sm-12 col-md-3 vert-space">
			<button type="button" class="pull-right btn btn-success btn-block" (click)="downloadResult()">
				<span class="fa fa-download fa-1x" aria-hidden="true"></span> Statistik speichern
			</button>
		</div>
	</div>
</div>