<div class="card center-block col-sm-11 col-md-11">
	<div class="row">
		<div class="col-sm-12 col-md-10 sec-header-1">{{title}}</div>
	</div>

	<div class="col-md-12" *ngIf="anmeldenState.visible">
		<mkv-anmelden></mkv-anmelden>
	</div>

	<mkv-teilnahme *ngFor="let myTeilnahme of teilnahmen" [teilnahme]="myTeilnahme" (clicked)="clicked(myTeilnahme)"
		[class.selected]="isSelected(myTeilnahme)"></mkv-teilnahme>
</div>
