<div class="container">
	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" #navbarToggler class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target="#mynavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand btn" (click)="goHome()"><span class="fa fa-home fa-1x" aria-hidden="true"></span> {{title}}</a>
			</div>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="nav navbar-nav">
					<li routerLinkActive="active"><a routerLink="/dashboard" (click)="collapseNav()" class="link"><span class="fa fa-desktop fa-1x" aria-hidden="true"></span> &Uuml;bersicht</a></li>
					<li routerLinkActive="active"><a routerLink="/teilnahmen" (click)="collapseNav()"  class="link">Teilnahmen</a></li>
					<li routerLinkActive="active" *ngIf="downloadEnabled"><a routerLink="/download" (click)="collapseNav()" class="link"><span class="fa fa-download fa-1x" aria-hidden="true"></span> Unterlagen</a></li>
					<li routerLinkActive="active" *ngIf="isLinkTeilnahmelistEnabled()"><a routerLink="/teilnehmer" (click)="collapseNav()" class="link"><span class="fa fa-group fa-1x" aria-hidden="true"></span> Auswertung/Urkunden</a></li>
					<li routerLinkActive="active" *ngIf="isLinkAuswertungsgruppeEnabled()"><a routerLink="/auswertungsgruppen" (click)="collapseNav()" class="link"><span class="fa fa-group fa-1x" aria-hidden="true"></span> Auswertung/Urkunden</a></li>
					<li routerLinkActive="active" *ngIf="uploadEnabled"><a routerLink="/upload" (click)="collapseNav()" class="link"><span class="fa fa-upload fa-1x" aria-hidden="true"></span> Dateien hochladen</a></li>
					<li routerLinkActive="active"><a routerLink="/profil" (click)="collapseNav()" class="link"><span class="fa fa-id-card-o fa-1x" aria-hidden="true"></span> Profil</a></li>
					<li routerLinkActive="active" *ngIf="isAdvEnabled()"><a routerLink="/adv" (click)="collapseNav()" class="link"><span class="fa fa-file fa-1x" aria-hidden="true"></span> DSGVO</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				    <li routerLinkActive="active"><a *ngIf="!isLoggedIn()" (click)="gotoSignIn()" class="btn"><span class="fa fa-user-o fa-1x" aria-hidden="true"></span> Konto anlegen</a></li>
					<li routerLinkActive="active"><a *ngIf="!isLoggedIn()" (click)="gotoLogin()" class="btn"><span class="fa fa-sign-in fa-1x" aria-hidden="true"></span> Login</a></li>
					<li><a *ngIf="isLoggedIn()" (click)="logout()" class="btn"><span class="fa fa-sign-out fa-1x" aria-hidden="true"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="bordered center-block col-sm-12 col-md-11 col-lg-10">
	<p *ngIf="showCsrf">CSRF: {{xsrfToken}}</p>
	<div *ngIf="ankuendigungWartungsmeldung" class="row">
		<div class="col-sm-12 col-md-12 sec-header-1">{{wartungsmeldung}}</div>
	</div>
	<mkv-user *ngIf="isLoggedIn()"></mkv-user>
	<mkv-msg></mkv-msg>
	<router-outlet></router-outlet>
</div>

<div class="col-md-12 col-sm-12 footer">
	<div class="row">
		<div class="col-md-2 col-sm-12 footer-text text-left">&copy; Heike Winkelvo&szlig;</div>
		<div class="col-md-2 col-sm-12 footer-text text-left">
		    <a href="https://mathe-jung-alt.de/minikaenguru/datenschutz.html" target="_blank"
					class="btn btn-link">Datenschutzerkl&auml;rung</a>
		</div>
		<div class="col-md-2 col-sm-12 footer-text text-left">
			<button type="button" class="btn btn-link" (click)="gotoKontakt()">Impressum</button>
		</div>
		<div class="col-md-4 col-sm-12 footer-text text-left" *ngIf="showEnv">{{envName}}, API: {{api}}</div>
		<div class="col-md-2 col-sm-12 footer-text text-right">Version {{version}}</div>
	</div>
</div>