<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 sec-header-1">Ortskatalog</div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right">
      <a [routerLink]="'/kataloge/laender'">Länder</a>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="'/kataloge/schulen'">Schulen</a>
    </div>
  </div>
  <form novalidate [formGroup]="ortsucheForm" #formDirective="ngForm" (ngSubmit)="onSubmit(ortsucheForm.value)">
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="ortnameInput">Ort*:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="ortname.touched && !ortname.valid" class="form-control" type="text" id="ortnameInput" placeholder="Name Ort"
            formControlName="ortname">
        </div>
      </div>
      <admin-show-error path="ortname" text="Ort"></admin-show-error>
    </div>
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="landnameInput">Land:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="landname.touched && !landname.valid" class="form-control" type="text" id="landnameInput" placeholder="Name (Bundes-)Land"
            formControlName="landname">
        </div>
      </div>
      <admin-show-error path="landname" text="Land"></admin-show-error>
    </div>

    <div class="row vert-space">
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button [disabled]="!formSubmitAttempt && !ortsucheForm.valid" type="submit" class="btn btn-primary btn-block">absenden</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button type="submit" (click)="cancel()" class="btn btn-primary btn-block">leeren</button>
      </div>
    </div>
  </form>


  <div *ngIf="orte" class="row">
    <div class="col-sm-12 col-md-9 sec-header-2">Anzahl Treffer: {{orte?.length}}</div>
  </div>

  <div class="row">
    <div *ngFor="let o of orte" class="col-sm-12 col-md-4 col-lg-3">
      <admin-ort-overview [ort]="o"></admin-ort-overview>
    </div>
  </div>
</div>
