<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ort.name}}</h4>
    <p class="card-text">
      {{ort.lage.land}} ({{ort.lage.landkuerzel}})</p>
    <p class="card-text">
      <strong>Kürzel:</strong> {{ort.kuerzel}}</p>
    <p class="card-text">
      <strong>Anzahl Schulen:</strong> {{ort.anzahlSchulen}}</p>

    <p>
      <button type="submit" (click)="toggleNeueSchule()" class="btn btn-primary">
        neue Schule
      </button>
    </p>

    <div *ngIf="anlegenFormVisible" class="bordered">
      <div class="row">
        <div class="col-sm-12 col-md-12 strong">Schule anlegen</div>
      </div>
      <form novalidate [formGroup]="schuleAnlegenForm" #formDirective="ngForm" (ngSubmit)="onSubmit(schuleAnlegenForm.value)">
        <div class="group">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <label for="nameInput">Name *:</label>
            </div>
            <div class="col-sm-12 col-md-12">
              <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="nameInput" placeholder="Name" formControlName="name">
            </div>
          </div>
          <admin-show-error path="name" text="Name"></admin-show-error>
        </div>
        <div class="group">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <label for="strasseInput">Straße/Hausnumer *:</label>
            </div>
            <div class="col-sm-12 col-md-12">
              <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="strasseInput" placeholder="Straße und Hausnummer"
                formControlName="strasse">
            </div>
          </div>
          <admin-show-error path="strasse" text="Straße/Hausnummer"></admin-show-error>
        </div>
        <div class="group">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <label for="urlInput">Homepage :</label>
            </div>
            <div class="col-sm-12 col-md-12">
              <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="urlInput" placeholder="Url der Homepage"
                formControlName="url">
            </div>
          </div>
          <admin-show-error path="url" text="Homepage"></admin-show-error>
        </div>
        <div class="row vert-space">
          <div class="col-sm-12 col-md-6 vert-space">
            <button [disabled]="!formSubmitAttempt && !schuleAnlegenForm.valid" type="submit" class="btn btn-primary btn-block">absenden</button>
          </div>
        </div>
      </form>
    </div>
  </div>
