<label>
  <ng-content></ng-content>
  <input type="file"
  class="files-upload-btn"
  [multiple]="fileUplodConfig.maxFileSize > 1"
  #spyInputFiles
  accept="{{fileUplodConfig.acceptExtensions}}"
  (change)="onChange(spyInputFiles.files); spyInputFiles.value=''" />
</label>
