
<div class="row">
	<div class="col-md-12 vert-space">
		<button type="submit" class="btn btn-primary btn-block" [disabled]="processing" (click)="advDrucken()">
			<span class="fa fa-download fa-1x" aria-hidden="true"></span> speichern
		</button>
	</div>
	<div class="col-md-12 vert-space">
		<p *ngIf="processing">Die ADV-Vereinbarung wird heruntergeladen...</p>
	</div>
</div>