<div class="group">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<label for="land">Land/Bundesland*</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<select id="land" name="land" class="form-control" [(ngModel)]="selectedLandKuerzel" (ngModelChange)="onLandSelected()"
				[formControl]="land">
				<option *ngFor=" let land of laender" [value]="land.kuerzel" [selected]="land.kuerzel === selectedLand?.kuerzel">
			{{land.name}}
			</option>
			</select>
		</div>
	</div>
	<mkv-show-error path="land" text="Land/Bundesland"></mkv-show-error>
</div>
<div class="row" *ngIf="showSelection">
	<div class="col-sm-12 col-md-12">laender.component: selectedLand: {{selectedLand?.name}}</div>
</div>