<div class="alert alert-info" *ngIf="hasInfo">
	<div class="row">
		<div class="col-xs-10 col-sm-11 col-md-11">{{infoMessage}}</div>
		<div class="col-xs-2 col-sm-1 col-md-1">
			<button class="btn btn-link" (click)="clearMessage()">&times;</button>
		</div>
	</div>
</div>
<div class="alert alert-warning" *ngIf="hasWarning">
	<div class="row">
		<div class="col-xs-10 col-sm-11 col-md-11">{{warningMessage}}</div>
		<div class="col-xs-2 col-sm-1 col-md-1">
			<button class="btn btn-link" (click)="clearMessage()">&times;</button>
		</div>
	</div>
</div>
<div class="alert alert-danger" *ngIf="hasError">
	<div class="row">
		<div class="col-xs-10 col-sm-11 col-md-11">{{errorMessage}}</div>
		<div class="col-xs-2 col-sm-1 col-md-1">
			<button class="btn btn-link" (click)="clearMessage()">&times;</button>
		</div>
	</div>
</div>