<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Neue Schule</div>
	</div>
	<form novalidate [formGroup]="neueSchuleForm" (ngSubmit)="onSubmit(neueSchuleForm.value)">
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="emailInput">Email*:</label>
				</div>
			</div>
			<div class="row" [class.error]="email.touched && !email.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="emailInput" placeholder="Mailadresse" formControlName="email" mkvLowerCase>
				</div>
			</div>
			<mkv-show-error path="email" text="Email"></mkv-show-error>
		</div>
		<div *ngIf="!showNameLand">
			<mkv-laender></mkv-laender>
		</div>
		<div class="row" *ngIf="!showNameLand">
			<div class="col-sm-12 col-md-9"></div>
			<div class="col-sm-12 col-md-3">
				<button type="button" (click)="toggleNameLand()" class="btn btn-link btn-block">Land nicht gefunden</button>
			</div>
		</div>
		<div class="row" *ngIf="showNameLand">
			<div class="col-sm-12 col-md-9"></div>
			<div class="col-sm-12 col-md-3">
				<button type="button" (click)="toggleNameLand()" class="btn btn-link btn-block">zum Länderkatalog</button>
			</div>
		</div>
		<div class="group" *ngIf="showNameLand">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="nameLand">Land/Bundesland*:</label>
				</div>
			</div>
			<div class="row" [class.error]="nameLand.touched && !nameLand.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="nameLand" placeholder="Land bzw. Bundesland" formControlName="nameLand">
				</div>
			</div>
			<mkv-show-error path="nameLand" text="Land/Bundesland"></mkv-show-error>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="nameSchule">Name der Schule*:</label>
				</div>
			</div>
			<div class="row" [class.error]="name.touched && !name.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="nameSchule" placeholder="Name der Schule" formControlName="name">
				</div>
			</div>
			<mkv-show-error path="name" text="Name der Schule"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="plz">Postleitzahl*:</label>
				</div>
			</div>
			<div class="row" [class.error]="plz.touched && !plz.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="plz" placeholder="Postleitzahl" formControlName="plz">
				</div>
			</div>
			<mkv-show-error path="plz" text="Postleitzahl"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="ort">Ort*:</label>
				</div>
			</div>
			<div class="row" [class.error]="ort.touched && !ort.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="ort" placeholder="Ort" formControlName="ort">
				</div>
			</div>
			<mkv-show-error path="ort" text="Ort"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="ort">Stra&szlig;e:</label>
				</div>
			</div>
			<div class="row" [class.error]="strasse.touched && !strasse.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="strasse" placeholder="Straße" formControlName="strasse">
				</div>
			</div>
			<mkv-show-error path="strasse" text="Stra&szlig;e"></mkv-show-error>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="hausnummer">Hausnummer:</label>
				</div>
			</div>
			<div class="row" [class.error]="hausnummer.touched && !hausnummer.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="hausnummer" placeholder="Hausnummer" formControlName="hausnummer">
				</div>
			</div>
			<mkv-show-error path="hausnummer" text="Hausnummer"></mkv-show-error>
		</div>
		<div class="row hidden">
			<div class="col-sm-2 col-md-2">
				<label for="kleber">Kleber:</label>
			</div>
			<div class="col-sm-10 col-md-10">
				<input type="text" id="kleber" placeholder="leer lassen!!!!" formControlName="kleber">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="!neueSchuleForm.valid || isSubmitDisabled()" type="submit"
					class="btn btn-primary btn-block">absenden</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>