
<div class="col-xs-12 col-sm-12 col-md-6">
	<div class="boxed-group">
		<div class="row">
			<div class="col-sm-12 col-md-12 sec-header-1">Mailnachrichten</div>
		</div>
		<div class="row vert-space">
			<div class="col-sm-12 col-md-12">
				<button type="button" class="btn btn-block" [ngClass]="cssClass" (click)="newletterAendern()">{{btnTextMailstatus}}</button>
			</div>
			<div class="col-sm-12 col-md-12">{{textNewsletter}}</div>
		</div>
	</div>
</div>