<mkv-laender></mkv-laender>
<div class="group">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<label for="ort">Ort*</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<select id="ort" name="ort" class="form-control" [disabled]="selectOrtDisabled" [(ngModel)]="selectedOrtKuerzel" (ngModelChange)="onOrtSelected()">
				<option *ngFor=" let ort of orte" [value]="ort.kuerzel" [selected]="ort.kuerzel === selectedOrt?.kuerzel">
			{{ort?.name}}
			</option>
			</select>
		</div>
	</div>
</div>
<div class="row" *ngIf="showSelection">
	<div class="col-sm-12 col-md-12">selctedOrt: {{selectedOrt?.name}}</div>
</div>

<div class="group">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<label for="ort">Schule*</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<select id="schule" name="schule" class="form-control" [disabled]="selectSchuleDisabled" [(ngModel)]="selectedSchuleKuerzel"
				(ngModelChange)="onSchuleSelected()">
				<option *ngFor=" let schule of schulen" [value]="schule.kuerzel" [selected]="schule.kuerzel === selectedSchule?.kuerzel">
			{{schule?.name}}
			</option>
			</select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-9"></div>
	<div class="col-sm-12 col-md-3">
		<button type="button" (click)="gotoNeueSchule()" class="btn btn-link btn-block">Schule nicht gefunden</button>
	</div>
</div>
<div class="row" *ngIf="showSelection">
	<div class="col-sm-12 col-md-12">selectedSchule: {{selectedSchule?.name}}</div>
</div>

