<div class="card center-block col-sm-11 col-md-11">
		<div class=row>
			<div class="col-sm-10 col-md-10 sec-header-1">{{titel}}</div>
		</div>
		<div class="row" *ngIf = "kontaktEnabled">
			<div class="col-sm-12 col-md-12">Verantwortlich für den Inhalt dieser Seiten ist <a href="https://mathe-jung-alt.de/impressum.html" target="_blank">Heike Winkelvo&szlig;</a></div>
		</div>

		<div class="row" *ngIf = "zugangsdatenEnabled">
			<div class="col-sm-12 col-md-12">Sie haben Ihre Zugangsdaten vergessen? Schreiben Sie bitte eine <a href="mailto:minikaenguru@egladil.de" target="_blank">Email</a> mit Ihrem Namen und, falls Sie Lehrer sind, der Anschrift Ihrer Schule.</div>
		</div>

		<div class="row" *ngIf = "agbEnabled">
			<div class="col-sm-12 col-md-12">

<p><strong>Geltungsbereich</strong></p><p>Diese Datenschutzerkl&auml;rung kl&auml;rt Nutzer &uuml;ber die Art, den Umfang und die Zwecke der Erhebung und Verwendung personenbezogener Daten durch den verantwortlichen Anbieter Heike Winkelvo&szlig;, minikaenguru(at)egladil.de, 06134-63818 auf dieser Website (im folgenden “Angebot”) auf.<br />
<br />
Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).<br />
<br />
</p><p><strong>Zugriffsdaten/ Server-Logfiles</strong></p><p><span class="sd-muster-content">Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten &uuml;ber jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören:<br />
<br />
Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, &uuml;bertragene Datenmenge, Meldung &uuml;ber erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.<br />
<br />
Der Anbieter verwendet die Protokolldaten nur f&uuml;r statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes. Der Anbieter beh&auml;lt sich jedoch vor, die Protokolldaten nachtr&auml;glich zu &uuml;berpr&uuml;fen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</span></p>

<p><strong>Umgang mit personenbezogenen Daten</strong></p><p><span class="sd-muster-content">Personenbezogene Daten sind Informationen, mit deren Hilfe eine Person bestimmbar ist, also Angaben, die zur&uuml;ck zu einer Person verfolgt werden können. Dazu gehören der Name, die Emailadresse oder die Telefonnummer. Aber auch Daten &uuml;ber Vorlieben, Hobbies, Mitgliedschaften oder welche Webseiten von jemandem angesehen wurden z&auml;hlen zu personenbezogenen Daten.<br />
<br />
Personenbezogene Daten werden von dem Anbieter nur dann erhoben, genutzt und weiter gegeben, wenn dies gesetzlich erlaubt ist oder die Nutzer in die Datenerhebung einwilligen.</span></p>

<p><strong>Kontaktaufnahme</strong></p><p><span class="sd-muster-content">Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie f&uuml;r den Fall, dass Anschlussfragen entstehen, gespeichert.</span></p>

<p><strong>Registrierfunktion</strong></p><p><span class="sd-muster-content">Die im Rahmen der Registrierung eingegebenen Daten werden f&uuml;r die Zwecke der Nutzung des Angebotes verwendet. Die Nutzer können &uuml;ber angebots- oder registrierungsrelevante Informationen, wie &Auml;nderungen des Angebotsumfangs oder technische Umst&auml;nde per E-Mail informiert werden. Die erhobenen Daten sind aus der Eingabemaske im Rahmen der Registrierung ersichtlich. Dies sind<br><br>
<strong>F&uuml;r Privatpersonen:</strong> Vorname und Nachname zur Individualisierung der Webseite nach dem Einloggen, Emailadresse zur Authentisierung, zur Autorisierung von Email- und Passwort&auml;nderungen sowie zur Information durch den Anbieter (s.o.).<br><br>
<strong>F&uuml;r Lehrer:</strong> Zugehörigkeit zu einer Schule entsprechend dem durch das Angebot bereitgestellten Schulkatalog, Vorname und Nachname zur Individualisierung der Webseite nach dem Einloggen sowie zur Anzeige aller anderen an der gleichen Schule registrierten Lehrer, nachdem man sich angemeldet (eingeloggt) hat,  Emailadresse zur Authentisierung, zur Autorisierung von Email- und Passwort&auml;nderungen sowie zur Information durch den Anbieter (s.o.). <br><br>Der zur Verf&uuml;gung gestellte Schulkatalog legt Schulen dann als gleich fest, wenn sie im gleichen (Bundes-) Land liegen und der Name des Ortes der Schule und der Name der Schule gleich sind. In sehr seltenen F&auml;llen kann das dazu f&uuml;hren, dass Schulen als gleich gelten, wenn sie zu verschieden gleichnamigen Orten eines (Bundes-) Landes gehören und Vorname und Nachname von Lehrern dieser Schulen ebenfalls angezeigt werden, obwohl sie in Wirklichkeit f&uuml;r eine andere Schule registriert sind.

</span><p><strong>Auswertungsfunktion</strong></p><p><span class="sd-muster-content">Die im Rahmen der Auswertung eingegebenen Daten werden f&uuml;r die Zwecke der Nutzung des Angebotes verwendet. Es werden Daten erfasst, die zur Erstellung der Urkunden und der Auswertungs&uuml;bersicht erforderlich sind. Dies sind<br><br>
<strong>f&uuml;r jedes Kind, f&uuml;r welches eine Urkunde erstellt werden soll:</strong> Vorname (Pflichtfeld), Nachname (optional) und Klassenstufe (Pflichtfeld), angekreuzte Antworten (Pflichtfelder) und die daraus berechnete Punktzahl sowie die L&auml;ge des K&auml;ngurusprungs.<br><br>
<strong>zus&auml;tzlich f&uuml;r Schulen:</strong> Name der Schule, Name und Klassenstufe der Klassen, Zuordnung von Kindern zu Klassen sowie die Auswertungs&uuml;bersicht für die Schule (Vorname, Nachname, Klassenstufe, Punktzahl, Platzierung, Gewinner des K&auml;ngurusprungs)).<br><br>
<p>Alle f&uuml;r einen Wettbewerb erfassten Kinder k&ouml;nnen durch die Benutzer zu jedem beliebigen Zeitpunkt gel&ouml;scht werden. Gel&ouml;scht werden Name und Vorname der Kinder sowie ggf. die Zuordnung zu einer bestimmten Klasse einer Schule. Nicht gel&ouml;scht werden die angekreuzten Antworten, da sie f&uuml;r statistische Auswertungen ben&ouml;tigt werden. Sie sind nach der L&ouml;schung jedoch vollst&auml;ndig anonymisiert.</p>
<p>Die f&uuml;r Schulen erstellte Auswertungs&uuml;bersicht enth&auml;lt personenbezogene Daten und kann durch die Benutzer zu jedem Zeitpunkt gel&ouml;scht werden.</p>
<p>Werden die f&uuml;r einen Wettbewerb erfassten Kinder und die Auswertungs&uuml;bersicht f&uuml;r die Schule nicht durch die Benutzer selbst gel&ouml;scht, erfolgt die L&ouml;schung nach Ende des Wettbewerbs automatisch durch den Administrator.</p>
<p>Nach der L&ouml;schung ist es nicht mehr m&ouml;glich, Urkunden oder Auswertungs&uuml;bersichten zu erstellen.</p>

</span></p><p><strong>Widerruf, &Auml;nderungen, Berichtigungen und Aktualisierungen</strong></p><p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten &uuml;ber die personenbezogenen Daten, die &uuml;ber ihn gespeichert wurden. Zus&auml;tzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.<br />
</p><p><a href="http://rechtsanwalt-schwenke.de/smmr-buch/datenschutz-muster-generator-fuer-webseiten-blogs-und-social-media/" target="_blank"><strong>Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it</strong></a></p>



			</div>
		</div>
		<div class="row" *ngIf="agbEnabled">
			<div class="col-sm-2 col-md-2 vert-space pull-right">
				<button
					type="submit"
					name="btn-reg_lehrer-cancel"
					class="btn btn-primary btn-block"
					(click)="cancel()">zur&uuml;ck</button>
			</div>
		</div>
	</div>