<div class="row">
	<div class="col-sm-12 col-md-12 sec-header-2">Leider nicht m&ouml;glich</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 sec-desr-hinweis">{{auswertungState.text}}</div>
	<div class="col-sm-12 col-md-12" *ngIf="anmeldenState.visible">Melden Sie sich bitte an.</div>
	<div class="col-sm-12 col-md-12" *ngIf="showLinkUrkunden()">
		Bitte erstellen Sie die Urkunden selbst. Vorlagen finden Sie <a
			href="https://mathe-jung-alt.de/minikaenguru/urkunden.html" target="_blank">hier</a>
			<br>
		Falls Sie die Dateien versehentlich hochgeladen haben und sie löschen lassen möchten, senden Sie mir bitte eine Mail.
	</div>
</div>