<p>
	{{user?.basisdaten?.vorname}} {{user?.basisdaten?.nachname}} <span *ngIf="showSchulzuordnung()">({{user?.erweiterteKontodaten?.schule?.name}} in {{user?.erweiterteKontodaten?.schule?.lage?.ort}})</span>
	<span [ngClass]="statusAnmeldung.cssClass" title="{{statusAnmeldung.tooltip}}">{{statusAnmeldung?.message}}</span>
</p>