
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 sec-header-2">{{dateiInfo.beschreibung}}</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 sec-descr">{{dateiInfo.dateiname}} ({{dateiInfo.groesse}})</div>
</div>