<div class="card center-block col-sm-11 col-md-11">
	<div class=row>
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Unterlagen herunterladen</div>
	</div>
	<div class="card card-hinweis">
		<div class="row">
			<div class="col-sm-9 col-md-9 .sec-desr-hinweis">Nach dem Wettbewerb k&ouml;nnen Sie <strong>hier im Programm</strong> Ihre
				Auswertung erstellen und Ihre Urkunden automatisch generieren lassen.</div>
			<div class="col-sm-3 col-md-3"><img *ngFor="let thumb of farbschema" [src]="thumb.imageData" class="img-thumbnail"></div>
		</div>
	</div>
	<div *ngIf="downloadState.disabled" class="row">
		<div class="col-sm-12 col-md-12 sec-descr">{{downloadState.text}}</div>
	</div>
	<div class="row" *ngIf="anmeldenState.visible">
		<div class="col-xs-12 col-sm-12 col-md-3" *ngIf="anmeldenState.visible">
			<div class="boxed-group">
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-header-1">Wettbewerb</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12 sec-descr">{{anmeldenState.text}}</div>
				</div>
				<div class="row vert-space">
					<div class="col-sm-12 col-md-12">
						<button [disabled]="anmeldenState.disabled" type="button" class="btn btn-primary btn-block"
							(click)="submitAnmeldung()">anmelden f&uuml;r {{globalSettings.wettbewerbsjahr}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!downloadState.disabled">
		<div class="card" *ngFor="let myDateiInfo of dateiInfos$ |async; let i = index">
			<mkv-datei [dateiInfo]="myDateiInfo"></mkv-datei>
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<button type="button" class="btn btn-primary btn-block" (click)="download(i)">
						<span class="fa fa-download fa-1x" aria-hidden="true"></span> speichern
					</button>
				</div>
			</div>
		</div>
	</div>
</div>