/** START RESET */
@CHARSET "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul a {
	display: block;
	padding: 6px;
}

/** END RESET */
/**======================================================================================================*/

header, article, aside, footer, nav, section {
	/*border: 1px solid #111;*/
	background-color: white;
	padding: 0px 10px;
	margin: 10px 5px 10px 5px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
}

.message {
    padding:20px 40px;
    margin:20px auto;
    background-color:#f9f9f9;
    border:1px solid #ddd;    
	max-width: 30%;
}

center {
    margin:40px 0;
}

h1 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin:20px auto;
}

p {
	font-size: 16px;
}


/* Extra small devices (portrait phones, less than 576px)*/
// No media query since this is the default in Bootstrap
@media (max-width: 576px) {
    body {
    	max-width: 100%;
	}

	p {
		font-size: 12px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

