<div class="card" [ngStyle]="getStyles()">

  <div class="card-body">
    <h4 class="card-title">{{schule.name}}<span *ngIf="schule.anzahlTeilnahmen > 0" class="badge">({{schule.anzahlTeilnahmen}})</span></h4>
    <p class="card-text">
      <strong>Land: </strong>{{schule.lage.land}} ({{schule.lage.landkuerzel}})</p>
    <p class="card-text">
      <strong>Kürzel: </strong> {{schule.kuerzel}}</p>
    <p class="card-text">
	  <strong>Ort: </strong>{{schule.lage.ort}} ({{schule.lage.ortkuerzel}})</p>
   <p class="card-text">
      <strong>Straße: </strong>{{schule.strasse}}</p>

	 <p>
      <button type="submit" (click)="toggleSchuleAendern()" class="btn btn-primary">
        ändern
      </button>
    </p>

    <div *ngIf="aendernFormVisible" class="bordered">
      <div class="row">
        <div class="col-sm-12 col-md-12 strong">Schule ändern</div>
      </div>
      <form novalidate [formGroup]="schuleAendernForm" #formDirective="ngForm" (ngSubmit)="onSubmit(schuleAendernForm.value)">
        <div class="group">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <label for="nameInput">Name *:</label>
            </div>
            <div class="col-sm-12 col-md-12">
              <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="nameInput" placeholder="Name" formControlName="name">
            </div>
          </div>
          <admin-show-error path="name" text="Name"></admin-show-error>
        </div>
        <div class="group">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <label for="strasseInput">Straße/Hausnumer *:</label>
            </div>
            <div class="col-sm-12 col-md-12">
              <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="strasseInput" placeholder="Straße und Hausnummer"
                formControlName="strasse">
            </div>
          </div>
          <admin-show-error path="strasse" text="Straße/Hausnummer"></admin-show-error>
        </div>
        <div class="group">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <label for="urlInput">Homepage :</label>
            </div>
            <div class="col-sm-12 col-md-12">
              <input [class.error]="name.touched && !name.valid" class="form-control" type="text" id="urlInput" placeholder="Url der Homepage"
                formControlName="url">
            </div>
          </div>
          <admin-show-error path="url" text="Homepage"></admin-show-error>
        </div>
        <div class="row vert-space">
          <div class="col-sm-12 col-md-6 vert-space">
            <button [disabled]="!formSubmitAttempt && !schuleAendernForm.valid" type="submit" class="btn btn-primary btn-block">absenden</button>
          </div>
        </div>
      </form>
    </div>
  </div>
