<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12 col-md-9 sec-header-1">Schulkatalog</div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right">
      <a [routerLink]="'/kataloge/laender'">Länder</a>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="'/kataloge/orte'">Orte</a>
    </div>
  </div>
  <form novalidate [formGroup]="schulsucheForm" #formDirective="ngForm" (ngSubmit)="onSubmit(schulsucheForm.value)">
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="schulnameInput">Schule:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="schulname.touched && !schulname.valid" class="form-control" type="text" id="schulnameInput" placeholder="Schulname"
            formControlName="schulname">
        </div>
      </div>
      <admin-show-error path="schulname" text="Schule"></admin-show-error>
    </div>
    <div class="group">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <label for="ortnameInput">Ort:</label>
        </div>
        <div class="col-sm-12 col-md-12">
          <input [class.error]="ortname.touched && !ortname.valid" class="form-control" type="text" id="ortnameInput" placeholder="Ort"
            formControlName="ortname">
        </div>
      </div>
      <admin-show-error path="ortname" text="Ort"></admin-show-error>
    </div>

    <div class="row vert-space">
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button [disabled]="!formSubmitAttempt && !schulsucheForm.valid" type="submit" class="btn btn-primary btn-block">absenden</button>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 vert-space">
        <button type="submit" (click)="cancel()" class="btn btn-primary btn-block">leeren</button>
      </div>
    </div>
  </form>


  <div *ngIf="schulen" class="row">
    <div class="col-sm-12 col-md-9 sec-header-2">Anzahl Treffer: {{schulen?.length}}</div>
  </div>


  <div class="row">
    <div *ngFor="let s of schulen" class="col-sm-12 col-md-4 col-lg-3">
      <admin-schule-overview [schule]="s"></admin-schule-overview>
    </div>
  </div>

</div>
