<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="sec-header-1">Hochgeladene Auswertungstabellen</div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>{{markiertText}}</div>
    </div>
    <div class="col-sm-12 col-md-4">
      <button class="btn btn-block btn-outline-dark" [disabled]="selectedAuswertungstabellen.length === 0" (click)="moveSelectedFilesOnServer()">verschieben</button>
    </div>
  </div>

  <div *ngIf="loading">Lade Auswertungstabellen...</div>


  <div *ngIf="!loading" class="row">
    <div *ngFor="let t of auswertungstabellen" class="col-sm-12 col-md-6 col-lg-4">
      <admin-auswertungsstabelle-details [tabelle]="t" (tabelleSelect)="onTabelleSelected($event)"></admin-auswertungsstabelle-details>
    </div>
  </div>
</div>