<div adminAuswertungstabelleBackground [uploadStatus]="tabelle.dateiInfo.uploadStatus" class="card mt-2 mb-5">

  <div class="card-header">
    <h4>{{tabelle.dateiInfo.teilnahmekuerzel}} - {{tabelle.dateiInfo.uploadStatus}} - {{tabelle.upload.jahr}} <i *ngIf="tabelle.selected"
        class="fa fa-shopping-basket" aria-hidden="true"></i></h4>
  </div>
  <div class="card-body"  (click)="toggleSelected()">
    <p class="card-text"><strong>Teilnahmeart: </strong>{{getTeilnahmeart()}}</p>
    <p class="card-text">{{tabelle.dateiInfo.dateiname}}</p>
    <p class="card-text">{{tabelle.dateiInfo.groesse}}</p>
  </div>
  <div class="card-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 btn-container">
          <div class="btn btn-block btn-outline-dark btn-wrapper-normal" (click)="downloadFile()">
            <i class="fa fa-download fa-1x" aria-hidden="true"></i> download
          </div>
        </div>
        <div class="col-md-6 col-sm-12 btn-container">
          <div *ngIf="showUploadBtn()" class="btn btn-block btn-outline-dark btn-wrapper-small">
            <admin-file-upload (filesSelect)="filesSelect($event)" [fileUplodConfig]="fileUplodConfig">
              <i class="fa fa-upload fa-1x" aria-hidden="true"></i> upload
            </admin-file-upload>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
