<div class="card center-block col-sm-12 col-md-11 vert-space">

	<div *ngIf="showDownloadLink" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 sec-header-1">Vereinbarung zur Auftragsverarbeitung</div>
		<div class="col-sm-12 col-md-12">Ihre Schule hat eine Vereinbarung zur Auftragsverarbeitung nach Art.28 Abs.3
			Datenschutz-Grundverordnung (DSGVO) mit mir abgeschlossen.</div>
	</div>

	<mkv-adv-download *ngIf="showDownloadLink" [schule]=getSchule()></mkv-adv-download>

	<div *ngIf="!showDownloadLink" class="row">
		<div class="col-sm-12 col-md-12 sec-header-1">Vereinbarung zur Auftragsverarbeitung</div>
		<div class="col-sm-12 col-md-12 sec-header-2">Nach Art. 28 Abs. 3 Datenschutz-Grundverordnung (DSGVO)</div>
	</div>

	<div *ngIf="!showDownloadLink" [innerHTML]="content"></div>


	<form *ngIf="!showDownloadLink" novalidate [formGroup]="advForm" (ngSubmit)="onSubmit(advForm.value)">
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="nameSchule">Name der Schule*:</label>
				</div>
			</div>
			<div class="row" [class.error]="schulname.touched && !schulname.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="nameSchule" placeholder="Name der Schule" formControlName="schulname">
				</div>
			</div>
			<mkv-show-error path="name" text="Name der Schule"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="ort">Stra&szlig;e*:</label>
				</div>
			</div>
			<div class="row" [class.error]="strasse.touched && !strasse.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="strasse" placeholder="Straße" formControlName="strasse">
				</div>
			</div>
			<mkv-show-error path="strasse" text="Stra&szlig;e"></mkv-show-error>
		</div>
		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="hausnummer">Hausnummer*:</label>
				</div>
			</div>
			<div class="row" [class.error]="hausnummer.touched && !hausnummer.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="hausnummer" placeholder="Hausnummer" formControlName="hausnummer">
				</div>
			</div>
			<mkv-show-error path="hausnummer" text="Hausnummer"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="plz">Postleitzahl*:</label>
				</div>
			</div>
			<div class="row" [class.error]="plz.touched && !plz.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="plz" placeholder="Postleitzahl" formControlName="plz">
				</div>
			</div>
			<mkv-show-error path="plz" text="Postleitzahl"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="ort">Ort*:</label>
				</div>
			</div>
			<div class="row" [class.error]="ort.touched && !ort.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="ort" placeholder="Ort" formControlName="ort" disabled>
				</div>
			</div>
			<mkv-show-error path="ort" text="Ort"></mkv-show-error>
		</div>

		<div class="group">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<label for="ort">Land*:</label>
				</div>
			</div>
			<div class="row" [class.error]="laendercode.touched && !laendercode.valid">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<input class="form-control" type="text" id="land" formControlName="laendercode" disabled>
				</div>
			</div>
			<mkv-show-error path="laendercode" text="Land"></mkv-show-error>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button [disabled]="!advForm.valid || submitDisabled" type="submit" class="btn btn-primary btn-block">zustimmen</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 vert-space">
				<button type="submit" (click)="cancel()" class="btn btn-primary btn-block">abbrechen</button>
			</div>
		</div>
	</form>
</div>


