<div class="card center-block col-sm-11 col-md-10 vert-space">

	<div class="row">
		<div class="col-sm-12 col-md-12">{{schule?.kuerzel}} {{schule?.name}} {{schule?.ort}} {{schule?.land}}</div>
	</div>

	<div [innerHTML]="content"></div>


	<div class="row">
		<div class="col-sm-12 col-md-12 sec-header-1">Vereinbarung zur Auftragsverarbeitung</div>
		<div class="col-sm-12 col-md-12 sec-header-2">Nach Art. 28 Abs. 3 Datenschutz-Grundverordnung (DSGVO)</div>
		<div class="col-sm-12 col-md-12">Version 1.0</div>
	</div>

	<p class="card-title">1. Gegenstand und Dauer der Verarbeitung</p>
	<p>1.1. Gegenstand der Vereinbarung sind die Rechte und Pfichten der Parteien im Rahmen der Leistungserbringung
		gemäß Auftrag und Leistungsbeschreibung, soweit eine Verarbeitung von personenbezogenen Daten durch den Auftragnehmer
		als Auftragsverarbeiter für den Auftraggeber gemäß Art. 28 DSGVO erfolgt. Dies umfasst alle Tätigkeiten, die der
		Auftragnehmer zur Erfüllung des Auftrags erbringt und die eine Auftragsverarbeitung darstellen. Dies gilt auch, sofern
		der Auftrag nicht ausdrücklich auf diese Vereinbarung zur Auftragsverarbeitung verweist.</p>
	<p>1.2. Die Dauer der Verarbeitung erfolgt unbefristet.</p>
</div>